<div class="fullw">
  <div class="card profile-card-action-icons">
    <div class="card-section">
      <div class="profile-card-header">
        <div class="profile-card-avatar">
          <img class="avatar-image" src="./userprofile/<%=userinfo.profilePic%>" >
        </div>
        <div class="profile-card-author">
          <h5 class="author-title"><%=userinfo.firstname%> <%=userinfo.lastname%></h5>
          <% if(userinfo.userPermission == "admin"){ %>
          <p class="author-description">ผู้ดูแลระบบ</p>
          <% } else{ %>
            <% if(userinfo.userPermission == "user"){ %>
            <p class="author-description">นักวิจัย</p>
            <% } else{ %>
            <p class="author-description">ผู้บริหาร</p>
            <% } %>
          <% } %>
        </div>
      </div>
      <div class="profile-card-about">
        <h5 class="about-title separator-left">Research Database</h5>
        <p class="about-content">
          ฐานข้อมูลงานวิจัย<br>
          คณะวิศวกรรมศาสตร์<br>
          มทร.ธัญบุรี
        </p>
      </div>
      <div class="profile-card-action">
        <div class="action-area">
          <a href="#" class="action-anchor has-tip bottom" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Like Harry Profile">
            <i class="far fa-calendar"></i>
            <span class="show-for-sr">Like Harry Profile</span>
          </a>
        </div>
        <div class="action-area">
          <a href="#" class="action-anchor has-tip bottom" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Comment on Harry Profile">
            <i class="fab fa-connectdevelop"></i>
            <span class="show-for-sr">Comment on Harry Profile</span>
          </a>
        </div>
        <div class="action-area">
          <a href="#" class="action-anchor has-tip bottom" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Add Harry as a Friend">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            <span class="show-for-sr">Add Harry as a Friend</span>
          </a>
        </div>
        <div class="action-area">
          <a href="#" class="action-anchor has-tip bottom" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Send Harry a Gift">
            <i class="fa fa-gift" aria-hidden="true"></i>
            <span class="show-for-sr">Send Harry a Gift</span>
          </a>
        </div>
        <div class="action-area">
          <a href="#" class="action-anchor has-tip bottom" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Block Harry!">
            <i class="fa fa-ban" aria-hidden="true"></i>
            <span class="show-for-sr">Block Harry!</span>
          </a>
        </div>

      </div>
    </div>
  </div>
<div>
  <ul class="multilevel-accordion-menu vertical menu accordion" id="accordion" data-accordion-menu data-multi-open>
    <li class="link">
      <a href="/"><i class="fas fa-home fa-lg">&nbsp;&nbsp;&nbsp;</i>หน้าแรก</a>
    </li>
    <li class="link" id="hjkl">
      <a href="#"><i class=" fas fa-address-card fa-lg">&nbsp;&nbsp;&nbsp;</i>จัดการบัญชีผู้ใช้</a>
      <ul class="menu vertical sublevel-1 submenu " >
        <li><a class="subitem " href="/me">ข้อมูลของฉัน</a></li>
      </ul>
    </li>
    <li>
      <a><i class="fas fa-flask fa-lg">&nbsp;&nbsp;&nbsp;</i>จัดการโครงการวิจัย</a>
      <ul class="menu vertical sublevel-1" id="researchsettingID">
        <li><a class="subitem" href="/my-project">โครงการวิจัยของฉัน</a></li>
      </ul>
    </li>
    <li>
      <a href="/my-portforio"><i class="fas fa-medal fa-lg">&nbsp;&nbsp;&nbsp;</i>จัดการผลงานของฉัน</a>
      <ul class="menu vertical sublevel-1" >
        <li><a class="subitem" href="/portforio">ผลงานของนักวิจัย</a></li>
      </ul>
    </li>
    <li>
      <a href="/forms" target="_self"><i class="fas fa-file fa-lg">&nbsp;&nbsp;&nbsp;</i>จัดการแบบฟอร์ม</a>
    </li>

    <li>
      <a href="/report"><i class="fas fa-chart-bar fa-lg"></i>&nbsp;&nbsp;&nbsp;จัดการรายงาน</a>
    </li>
    <li>
      <a href="/logout"><i class="fas fa-key fa-lg">&nbsp;&nbsp;&nbsp;</i>ลงชื่อออก</a>
    </li>
  </ul>
  </div>
</div>
