<div class="fullw">
  <div class="card profile-card-action-icons">
    <div class="card-section">
      <div class="profile-card-header">
        <div class="profile-card-avatar">
          <img class="avatar-image" src="./picture/13428.jpg" >
        </div>
        <div class="profile-card-author">
          <h5 class="author-title">Praphan Prathumwan</h5>
          <p class="author-description">Web Developer</p>
        </div>
      </div>
      <div class="profile-card-about">
        <h5 class="about-title separator-left">About Me</h5>
        <p class="about-content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
      </div>
      <div class="profile-card-action">
        <div class="action-area">
          <a href="#" class="action-anchor has-tip bottom" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Like Harry Profile">
            <i class="far fa-calendar"></i>
            <span class="show-for-sr">Like Harry Profile</span>
          </a>
        </div>
        <div class="action-area">
          <a href="#" class="action-anchor has-tip bottom" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Comment on Harry Profile">
            <i class="fab fa-connectdevelop"></i>
            <span class="show-for-sr">Comment on Harry Profile</span>
          </a>
        </div>
        <div class="action-area">
          <a href="#" class="action-anchor has-tip bottom" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Add Harry as a Friend">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            <span class="show-for-sr">Add Harry as a Friend</span>
          </a>
        </div>
        <div class="action-area">
          <a href="#" class="action-anchor has-tip bottom" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Send Harry a Gift">
            <i class="fa fa-gift" aria-hidden="true"></i>
            <span class="show-for-sr">Send Harry a Gift</span>
          </a>
        </div>
        <div class="action-area">
          <a href="#" class="action-anchor has-tip bottom" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Block Harry!">
            <i class="fa fa-ban" aria-hidden="true"></i>
            <span class="show-for-sr">Block Harry!</span>
          </a>
        </div>

      </div>
    </div>
  </div>
<div>
  <ul class="multilevel-accordion-menu vertical menu accordion" id="accordion" data-accordion-menu data-multi-open>
    <li class="link">
      <a href="/"><i class="fas fa-home fa-lg">&nbsp;&nbsp;&nbsp;</i>หน้าแรก</a>
    </li>
    <li class="link" id="hjkl">
      <a href="#"><i class=" fas fa-address-card fa-lg">&nbsp;&nbsp;&nbsp;</i>จัดการบัญชีผู้ใช้</a>
      <ul class="menu vertical sublevel-1 submenu " >
        <li><a class="subitem " href="/me">ข้อมูลของฉัน</a></li>
        <li><a class="subitem" href="#">ผู้ใช้ทั้งหมด</a></li>
        <li><a class="subitem" href="/useridcheck">เพิ่มผู้ใช้ใหม่</a></li>
        <li><a class="subitem" href="#">เปลี่ยนรหัสผ่าน</a></li>
      </ul>
    </li>
    <li>
      <a><i class="fas fa-flask fa-lg">&nbsp;&nbsp;&nbsp;</i>จัดการโครงการวิจัย</a>
      <ul class="menu vertical sublevel-1" id="researchsettingID">
        <li><a class="subitem" href="#">โครงการวิจัยของฉัน</a></li>
        <li><a class="subitem" href="#">โครงการวิจัยทั้งหมด</a></li>
        <li><a class="subitem" href="#">โครงการวิจัยใหม่</a></li>
      </ul>
    </li>
    <li>
      <a href="#"><i class="fas fa-trophy fa-lg">&nbsp;&nbsp;&nbsp;</i>จัดการผลงาน</a>
    </li>
    <li>
      <a href="/grants"><i class="fas fa-hand-holding-usd fa-lg">&nbsp;&nbsp;&nbsp;</i>จัดการทุนวิจัย</a>
    </li>
    <li>
      <a href="/forms" target="_self"><i class="fas fa-file fa-lg">&nbsp;&nbsp;&nbsp;</i>จัดการแบบฟอร์ม</a>
    </li>

    <li>
      <a href="/#"><i class="fas fa-clipboard fa-lg"></i>&nbsp;&nbsp;&nbsp;จัดการรายงาน</a>
    </li>
    <li>
      <a><i class="fas fa-sliders-h fa-lg">&nbsp;&nbsp;&nbsp;</i>ตั้งค่าโครงการวิจัย</a>
      <ul class="menu vertical sublevel-1" >
        <li><a class="subitem" href="/department">หน่วยงานในระบบ</a></li>
        <li><a class="subitem" href="/research-type">ประเภทงานวิจัย</a></li>
        <li><a class="subitem" href="/research-branch">สาขาการวิจัย</a></li>
        <li><a class="subitem" href="/research-form">รูปแบบการวิจัย</a></li>
        <li><a class="subitem" href="/research-strategic">ยุทธศาสตร์</a></li>
      </ul>
    </li>
    <li>
      <a href="/logout"><i class="fas fa-key fa-lg">&nbsp;&nbsp;&nbsp;</i>ลงชื่อออก</a>
    </li>
  </ul>
  </div>
</div>
