<script>$(document).foundation();</script>
<meta charset="UTF-8">
<title>Foundation for Sites</title>
<link href="\web-fonts-with-css\css\fontawesome-all.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/foundation.css">
<link rel="stylesheet" href="css/app.css">
