<div class="fullw">
  <div class="card-profile-stats">
    <div class="card-profile-stats-intro">
      <img class="card-profile-stats-intro-pic" src=".\picture\13428.jpg" alt="profile-image" align="middle" />
    </div>
    <div class="card-profile-stats-intro-content">
      <h5>Praphan Prathumwan</h5>
    </div>
    <hr/>
  </div>

  <ul class="multilevel-accordion-menu vertical menu accordion" id="accordion" data-accordion-menu data-multi-open>
    <li class="link">
      <a href="/"><i class="fas fa-home fa-lg">&nbsp;&nbsp;&nbsp;</i>หน้าแรก</a>
    </li>

    <li class="link">
      <a href="#"><i class=" fas fa-address-card fa-lg">&nbsp;&nbsp;&nbsp;</i>จัดการบัญชีผู้ใช้</a>
      <ul class="menu vertical sublevel-1 submenu">
        <li><a class="subitem" href="/Research-Type">ข้อมูลของฉัน</a></li>
        <li><a class="subitem" href="#">ผู้ใช้ทั้งหมด</a></li>
        <li><a class="subitem" href="#">เพิ่มผู้ใช้ใหม่</a></li>
        <li><a class="subitem" href="#">เปลี่ยนรหัสผ่าน</a></li>
      </ul>
    </li>
    <li>
      <a href="#"><i class="fas fa-flask fa-lg">&nbsp;&nbsp;&nbsp;</i>จัดการโครงการวิจัย</a>
      <ul class="menu vertical sublevel-1">
        <li><a class="subitem" href="#">โครงการวิจัยของฉัน</a></li>
        <li><a class="subitem" href="#">โครงการวิจัยทั้งหมด</a></li>
        <li><a class="subitem" href="#">โครงการวิจัยใหม่</a></li>
      </ul>
    </li>
    <li>
      <a href="#"><i class="fas fa-trophy fa-lg">&nbsp;&nbsp;&nbsp;</i>จัดการผลงาน</a>
      <ul class="menu vertical sublevel-1">
      </ul>
    </li>
    <li>
      <a href="#"><i class="fas fa-hand-holding-usd fa-lg">&nbsp;&nbsp;&nbsp;</i>จัดการทุนวิจัย</a>
    </li>
    <li>
      <a href="/forms" target="_self"><i class="fas fa-file fa-lg">&nbsp;&nbsp;&nbsp;</i>จัดการแบบฟอร์ม</a>
    </li>
    <li>
      <a href="#"><i class="fas fa-tasks fa-lg">&nbsp;&nbsp;&nbsp;</i>จัดการสถานะการดำเนินงาน</a>
    </li>
    <li>
      <a href="#"><i class="fas fa-building fa-lg">&nbsp;&nbsp;&nbsp;</i>จัดการหน่วยงาน</a>
    </li>
    <li>
      <a href="/Research-Type"><i class="fas fa-braille fa-lg"></i>&nbsp;&nbsp;&nbsp;จัดการประเภทงานวิจัย</a>
    </li>
    <li>
      <a href=""><i class="fas fa-clipboard fa-lg"></i>&nbsp;&nbsp;&nbsp;จัดการรายงาน</a>
    </li>
    <li>
      <a href="#"><i class="fas fa-key fa-lg">&nbsp;&nbsp;&nbsp;</i>ลงชื่อออก</a>
      <ul class="menu vertical sublevel-1">
    </li>
    </ul>
  </ul>
</div>
