<meta charset="UTF-8">
<title>Research Database System</title>
<link rel="icon" type="image/png" href="favicon.png"/>
<link rel="shortcut icon" href="http://example.com/myicon.ico" />
<link href="\web-fonts-with-css\css\fontawesome-all.css" rel="stylesheet">


<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/foundation.css">
<link rel="stylesheet" href="css/app.css">
<link rel="stylesheet" href="css/HeaderCSS.css">


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="  https://cdn.datatables.net/1.10.16/js/dataTables.foundation.min.js"></script>
