<div class="off-canvas position-left reveal-for-large is-transition-push " id="my-info" data-off-canvas="" aria-hidden="false" data-e="ipjxuf-e">
  <div class="card-profile-stats">
    <div class="card-profile-stats-intro">
      <img class="card-profile-stats-intro-pic" src=".\picture\13428.jpg" alt="profile-image" />
      <div class="card-profile-stats-intro-content">
        <h5>Praphan Prathumwan</h5>
        <p>Joined Jan.16th 2017</small>
        </p>
      </div>
      <!-- /.card-profile-stats-intro-content -->
    </div>
    <!-- /.card-profile-stats-intro -->
    <hr />
  </div>
  <!-- /.card-profile-stats -->

  <ul class="multilevel-accordion-menu vertical menu " data-accordion-menu>
    <li>
      <a href="/"><i class="fas fa-home fa-lg">&nbsp;&nbsp;&nbsp;</i>หน้าแรก</a>

    </li>
    <li>
      <a href="#"><i class="fas fa-address-card fa-lg">&nbsp;&nbsp;&nbsp;</i>จัดการบัญชีผู้ใช้</a>
      <ul class="menu vertical sublevel-1 ">
        <li><a class="subitem" href="#">ข้อมูลของฉัน</a></li>
        <li><a class="subitem" href="#">ผู้ใช้ทั้งหมด</a></li>
        <li><a class="subitem" href="#">เพิ่มผู้ใช้ใหม่</a></li>
        <li><a class="subitem" href="#">เปลี่ยนรหัสผ่าน</a></li>
      </ul>
    </li>
    <li>
      <a href="#"><i class="fas fa-flask fa-lg">&nbsp;&nbsp;&nbsp;</i>จัดการโครงการวิจัย</a>
      <ul class="menu vertical sublevel-1">
        <li><a class="subitem" href="#">โครงการวิจัยของฉัน</a></li>
        <li><a class="subitem" href="#">โครงการวิจัยทั้งหมด</a></li>
        <li><a class="subitem" href="#">โครงการวิจัยใหม่</a></li>
      </ul>
    </li>
    <li>
      <a href="#"><i class="fas fa-trophy fa-lg">&nbsp;&nbsp;&nbsp;</i>จัดการผลงาน</a>
      <ul class="menu vertical sublevel-1">
      </ul>
    </li>
    <li>
      <a href="/forms"><i class="fas fa-file fa-lg">&nbsp;&nbsp;&nbsp;</i>จัดการแบบฟอร์ม</a>
    </li>
    <li>
      <a href="#"><i class="fas fa-building fa-lg">&nbsp;&nbsp;&nbsp;</i>จัดการหน่วยงาน</a>
      <ul class="menu vertical sublevel-1">
        <li>
          <a href="#">Sub-item 3</a>
          <ul class="menu vertical sublevel-2">
            <li><a class="subitem" href="#">Thing 1</a></li>
            <li><a class="subitem" href="#">Thing 2</a></li>
          </ul>
        </li>
        <li><a class="subitem" href="#">Thing 1</a></li>
        <li><a class="subitem" href="#">Thing 2</a></li>
      </ul>
    </li>
    <li>
      <a href="#"><i class="fas fa-tasks fa-lg">&nbsp;&nbsp;&nbsp;</i>จัดการสถานะการดำเนินงาน</a>
      <ul class="menu vertical sublevel-1">
        <li>
          <a href="#">Sub-item 3</a>
          <ul class="menu vertical sublevel-2">
            <li><a class="subitem" href="#">Thing 1</a></li>
            <li><a class="subitem" href="#">Thing 2</a></li>
          </ul>
        </li>
        <li><a class="subitem" href="#">Thing 1</a></li>
        <li><a class="subitem" href="#">Thing 2</a></li>
      </ul>
    </li>
    <li>
      <a href="#"><i class="fas fa-hand-holding-usd fa-lg">&nbsp;&nbsp;&nbsp;</i>จัดการทุนวิจัย</a>
      <ul class="menu vertical sublevel-1">
        <li>
          <a href="#">Sub-item 3</a>
          <ul class="menu vertical sublevel-2">
            <li><a class="subitem" href="#">Thing 1</a></li>
            <li><a class="subitem" href="#">Thing 2</a></li>
          </ul>
        </li>
        <li><a class="subitem" href="#">Thing 1</a></li>
        <li><a class="subitem" href="#">Thing 2</a></li>
      </ul>
    </li>
    <li>
      <a href="/about"><i class="fas fa-braille fa-lg"></i>&nbsp;&nbsp;&nbsp;จัดการประเภทงานวิจัย</a>

    </li>
    <li>
      <a href="#"><i class="fas fa-key fa-lg">&nbsp;&nbsp;&nbsp;</i>ลงชื่อออก</a>
      <ul class="menu vertical sublevel-1">
    </li>
    </ul>
</div>



<div class="off-canvas-content has-reveal-left" data-options="marginTop:0;" data-off-canvas-content="">
  <div class="title-bar hide-for-large" data-sticky style="width:100%" data-btm-anchor="content:bottom">
    <button class="menu-icon" type="button" data-toggle="my-info" aria-expanded="true" aria-controls="my-info"></button>
    <span class="title-bar-title">Research Database</span>
  </div>
</div>
