<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>wellcome</title>
</head>

<body>
  <h1>HI </h1><br>
  <%= me %>

    <form action="/logout" method="post">
      <div>
        <input type="submit" value="logout" />
      </div>
    </form>
</body>

</html>
