<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="css/department.css">

<head>
  <% include ../partials/head %>
</head>

<body style="background-color: #efefef;  height: 100vh;">
  <div class="cell medium-auto medium-cell-block-container">
    <div class="grid-x">
      <div class="cell medium-cell-block-y " style="width:17rem">
        <% include ../partials/header %>
        <% include ../partials/flash %>
      </div>

      <div class="cell medium-cell-block-y auto" style="width:100%">

        <div class="cell small-6-container full bgforms" align="center">
          <div >
            <h1>จัดการหน่วยงานในระบบ</h1>
            <input id="txtSearchDepartment" type="search" name="search" placeholder="ค้นหาหน่วยงานในระบบ" class="animated-search-form form-control">
            <div align="right" style="padding-right:1rem">
              <a class="button warning" id="editDepmentBtn">ลบ/แก้ไขชื่อ หน่วยงานใหม่</a>
              <a class="button secondary" id="addDepmentBtn">เพิ่มหน่วยงานใหม่</a>
            </div>
          </div>
        </div>
        <div class="grid-x">
          <div id="alert-area" class="alert-area"></div>
          <% include ../pages/department/displayData %>
          <% include ../pages/department/editData %>
          <% include ../pages/department/addData %>

          <% include ../pages/department/addData/addUni %>
          <% include ../pages/department/addData/addFaculty %>
          <% include ../pages/department/addData/addDepartment %>
          <% include ../pages/department/addData/addSubDepartment %>

          <% include ../pages/department/editData/editUni %>
          <% include ../pages/department/editData/editFaculty %>
          <% include ../pages/department/editData/editdpment %>
        </div>
      </div>

    </div>
  </div>

</body>

<footer>
  <script src="js/app.js"></script>
  <script src="js/datatable/department.js"></script>
  <script src="js/departmentJS.js"></script>
  <script src="js/department/newDepartment.js"></script>
  <script src="js/department/editDepartment.js"></script>

  <% include ../partials/footer %>
</footer>

</html>
