<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <div class="grid-x">
    <header class="cell shrink">
      <% include ../partials/header %>
    </header>
    <div class="cell auto">
      <div class="grid-y">
        <div id="demo">
          <!––บน––!>
          <div class="cell small-6-container full bgforms" align="center">
            <h1>แบบฟอร์ม</h1>
            <form id="search">
              <input type="search" name="search" placeholder="Search.." class="animated-search-form" name="query" v-model="searchQuery">
            </form>
            <div align="right" style="padding-right:1rem">
              <a class="button secondary" href="#" data-open="mobile-ios-modal">อัพโหลดแบบฟอร์ม</a>
            </div>
            <div class="reveal mobile-ios-modal" id="mobile-ios-modal" data-reveal>
              <form ref='uploadForm' encType="multipart/form-data" class="" action="/forms" method="post">
                <div class="mobile-ios-modal-inner">
                  <p>เพิ่มไฟล์ที่นี่</p>
                  <input type="file" name="foo" accept=".pdf">
                  <textarea v-model="message" placeholder="add multiple lines"></textarea>
                </div>
                <div class="mobile-ios-modal-options">
                  <button data-close type="reset" class="button">Cancel</button>
                  <input type="submit" name="" value="Upload" class="button">
                </div>
              </form>
            </div>
          </div>

          <div style="padding-right:2.5rem; padding-left:2.5rem;">
            <table border="1" cellpadding="7" cellspacing="7" class="hover unstriped">
              <tr>
                <th>No</th>
                <th>Field 1</th>
              </tr>
              <% if(data.length){
            for(var i = 0;i < data.length;i++) { %>
                <tr>
                  <td>
                    <%=data[i].PicID%>
                  </td>
                  <td>
                    <%=data[i].Picpart%>
                  </td>
                </tr>
                <% }
          }else{ %>
                  <tr>
                    <td colspan="3">No user</td>
                  </tr>
                  <% } %>

            </table>
          </div>

        </div>
      </div>
    </div>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </div>
</body>

</html>
