<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body style="background-color: #efefef;  height: 100vh;">
  <div class="cell medium-auto medium-cell-block-container">
    <div class="grid-x">
      <div class="cell medium-cell-block-y shrink " style="width:17rem">
        <% include ../partials/header %>
        <% include ../partials/flash %>
      </div>
      <div class="cell medium-cell-block-y auto">

        <div class="cell small-6-container full bgforms" align="center">
          <div style="margin:35px;">
            <h1>จัดการทุนวิจัย</h1>
            <input id="txtSearch" type="search" name="search" placeholder="ค้นหาข้อมูล" class="animated-search-form form-control">
            <div align="right" style="padding-right:1rem">
              <a class="button secondary" id="addRT" onclick="myFunctiongrants()">เพิ่มทุนวิจัยในระบบ</a>
            </div>
          </div>
        </div>

        <div class="grid-x">

          <div class="cell medium-cell-block-y auto">
            <% include ../pages/grants/pageShowAllGrants %>
            <% include ../pages/grants/pageNewGrants %>
            <% include ../pages/grants/pageEditGrantsDetail %>
            <% include ../pages/grants/pageGrantsDetail %>
          </div>

        </div>

      </div>
    </div>
    <footer>
      <script src="js/module/grants.js"></script>
      <script src="js/datatable/grantstable.js"></script>
      <% include ../partials/footer %>
    </footer>
  </div>
</body>

</html>
