<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/head %>
</head>
<style>
p{
	margin-bottom: 0px;
}
</style>
<body style="background-color: #efefef;  height: 100vh;">
	<div class="cell medium-auto medium-cell-block-container">
		<div class="grid-x">

			<div class="cell medium-cell-block-y" style="width:17rem">
				<% include ../partials/header %>
				  <% include ../partials/flash %>
			</div>

			<div class="cell medium-cell-block-y auto" style="width:100%">
				<div class="cell small-6-container full bgforms" align="center">
					<div style="margin:35px;">
						<h1>จัดการผลงานของฉัน</h1>
					</div>

				</div>

				<div class="grid-x">
					<!-- ฝั่งซ้าย -->
					<div class="grid-y small-6">
						<!-- เพิ่ม -->
						<% include ../pages/my-portforio/newport %>

						<!-- ดู -->
						<% include ../pages/my-portforio/seeport %>
					</div>

					<!-- ฝั่งขวา -->
					<div class="cell small-6 ">
						<div style="padding:2.5rem;">
							<table id="myPortforioTable" class="hover unstriped">
								<thead>
									<tr>
										<th>ลำดับ</th>
										<th>ชื่องาน</th>
										<th>ประเภทผลงาน</th>
										<th></th>
										<th></th>
									</tr>
								</thead>

								<tbody>
									<% if(data.length){
		                  for(var i = 0;i < data.length;i++) { %>
									<tr class="showhim ">
										<td></td>
										<td><%=data[i].title%></td>
										<td>
											<% if (data[i].categoryID == "1") { %><p>ผลงานการเผยแพร่ทางวิชาการ</p><% } %>
											<% if (data[i].categoryID == "2") { %><p>ทรัพย์สินทางปัญญา</p><% } %>
											<% if (data[i].categoryID == "3") { %><p>รางวัลจากการประกวดงานวิจัย </p><% } %>
											<% if (data[i].categoryID == "4") { %><p>สิ่งประดิษฐ์</p><% } %>
											<% if (data[i].categoryID == "5") { %><p>ใบรับรอง</p><% } %>
										</td>
										<td>
											<a class="small button warning showme" id="RTIDEDNAMEResearchType" onclick="seeMyPort('<%=data[i].idportfolio%>')" >ดู</a>
										</td>
										<td>
											<a class="small button alert showme" onclick="return confirm('คุณต้องการที่จะ ลบ <%= data[i].title %> หรือไม่ ?');" href="/my-portforio/delete/<%=data[i].idportfolio %>">ลบ</a>
										</td>

									</tr>
									<% }
		                }else{ %>
									<tr>
										<td colspan="5">No user</td>
									</tr>
									<% } %>
								</tbody>
							</table>

						</div>
					</div>

				</div>

			</div>

		</div>
	</div>
</body>

<footer>
	<% include ../partials/footer %>
	<script src="js/app.js"></script>

	<script src="js/datatable/my-portforio.js"></script>
	<script src="js/module/my-portforio.js"></script>
</footer>

</html>
