<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="css/new-forms.css">

<head>
  <% include ../partials/head %>
</head>


<body>
  <div class="grid-x">
    <header class="cell shrink">
      <% include ../partials/header %>
    </header>
    <div class="cell auto">
      <div class="grid-y">


      </div>
    </div>
  </div>
  </div>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</div>

</html>
