<!DOCTYPE html>
<html lang="en" dir="ltr">
<link rel="stylesheet" href="css/portforio.css">

<head>
  <% include ../partials/head %>
</head>
<div class="grid-y">
  <div data-sticky-container>
    <nav class="top-bar topbar-responsive" data-sticky data-options="marginTop:0;" style="background:#020304;width:100%" data-top-anchor="1">
      <div class="top-bar-title">
        <span data-responsive-toggle="topbar-responsive" data-hide-for="medium">
          <button class="menu-icon" type="button" data-toggle></button>
        </span>
        <a class="topbar-responsive-logo" href="#"><strong>Research Database System</strong></a>
      </div>
      <div id="topbar-responsive" class="topbar-responsive-links">
        <div class="top-bar-right">
          <ul class="menu simple vertical medium-horizontal">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Publication Clinic</a></li>
            <li><a href="#">Research Unit</a></li>
            <li><a href="#">Journal</a></li>
            <li><a href="#">Contact</a></li>
            <li>
              <button type="button" class="button hollow topbar-responsive-button">Login</button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>

<body>
  <div class="grid-y">
    <div class="grid-x bgportforio">
      <div class="cell small-2"></div>
      <div class="cell small-10" style="padding-top:50px">
        <h1>Our Researcher</h1>
        <input id="" type="search" name="" placeholder="ค้นหาข้อมูล" class="animated-search-form-portforio form-control">
      </div>

    </div>
    <div class="grid-x">
      <div class="cell medium-2" style="background:#FAFAFA;"></div>
      <div class="cell medium-7">
        <div class="grid-x">
          <div class="cell medium-4" style="padding-top:50px;background:#FAFAFA;">
            <div class="grid-y button-group round" style="padding:0em 1em 0em 1em">

              <p style="font-size: 24px;font-weight: bold;"><i class="fas fa-filter"></i> Refine result</p>

              <select>
                <option value="husker">คณะ</option>
                <option value="starbuck">Starbuck</option>
                <option value="hotdog">Hot Dog</option>
                <option value="apollo">Apollo</option>
              </select><br>

              <select>
                <option value="husker">หน่วยงานหลัก</option>
                <option value="starbuck">Starbuck</option>
                <option value="hotdog">Hot Dog</option>
                <option value="apollo">Apollo</option>
              </select><br>

              <select>
                <option value="husker">หน่วยงานย่อย</option>
                <option value="starbuck">Starbuck</option>
                <option value="hotdog">Hot Dog</option>
                <option value="apollo">Apollo</option>
              </select><br>

              <!-- <button class="button hollow filter-simple-button is-active" data-filter="all">All</button><br>
              <button class="button hollow filter-simple-button" data-filter="space">Space</button><br>
              <button class="button hollow filter-simple-button" data-filter="animals">Animals</button><br>
              <button class="button hollow filter-simple-button" data-filter="nature">Nature</button> -->

            </div>
          </div>
          <div class="cell medium-8">

            <section class="filter-simple">


              <div class="grid-x small-up-2 medium-up-2 large-up-3">
                <div class="small-4 column column-block filter-simple-item space" align="center">
                  <img src="./picture/รูปอาจารย์/คอมพิวเตอร์/ดร.กิตติวัณณ์ นิ่มเกิดผล.jpg" alt="" class="researcher-img" />
                  <p class="researcher-text">ดร.กิตติวัณณ์ นิ่มเกิดผล</p>
                  <p class="dpment-text">คณะวิศวกรรมศาสตร์</p>
                </div>
                <div class="small-4 column column-block filter-simple-item nature" align="center">
                  <img src="./picture/รูปอาจารย์/คอมพิวเตอร์/ดร.ปอลิน กองสุวรรณ.jpg" alt="" class="researcher-img" />
                  <p class="researcher-text">ดร.ปอลิน กองสุวรรณ</p>
                  <p class="dpment-text">คณะวิศวกรรมศาสตร์</p>
                </div>
                <div class="small-4 column column-block filter-simple-item animals" align="center">
                  <img src="./picture/รูปอาจารย์/คอมพิวเตอร์/ดร.วินัย วิชัยพาณิชย์.jpg" alt="" class="researcher-img" />
                  <p class="researcher-text">ดร.วินัย วิชัยพาณิชย์</p>
                  <p class="dpment-text">คณะวิศวกรรมศาสตร์</p>
                </div>
                <div class="small-4 column column-block filter-simple-item animals" align="center">
                  <img src="./picture/รูปอาจารย์/คอมพิวเตอร์/ดร.ศิริชัย เตรียมล้ำเลิศ.png" alt="" class="researcher-img" />
                  <p class="researcher-text">ดร.ศิริชัย เตรียมล้ำเลิศ</p>
                  <p class="dpment-text">คณะวิศวกรรมศาสตร์</p>
                </div>
                <div class="small-4 column column-block filter-simple-item animals" align="center">
                  <img src="./picture/รูปอาจารย์/คอมพิวเตอร์/ดร.สุทินัน  พรอนุรักษ์.jpg" alt="" class="researcher-img" />
                  <p class="researcher-text">ดร.สุทินัน พรอนุรักษ์</p>
                  <p class="dpment-text">คณะวิศวกรรมศาสตร์</p>
                </div>
                <div class="small-4 column column-block filter-simple-item nature" align="center">
                  <img src="./picture/รูปอาจารย์/คอมพิวเตอร์/ผศ.ดร.พฤศยน  นินทนา.jpg" alt="" class="researcher-img" />
                  <p class="researcher-text">ผศ.ดร.พฤศยน นินทนา</p>
                  <p class="dpment-text">คณะวิศวกรรมศาสตร์</p>
                </div>
                <div class="small-4 column column-block filter-simple-item nature" align="center">
                  <img src="./picture/รูปอาจารย์/คอมพิวเตอร์/ผศ.ดร.อิฐอารัญ  ปิติมล.jpg" alt="" class="researcher-img" />
                  <p class="researcher-text">ผศ.ดร.อิฐอารัญ  ปิติมล</p>
                  <p class="dpment-text">คณะวิศวกรรมศาสตร์</p>
                </div>
                <div class="small-4 column column-block filter-simple-item animals" align="center">
                  <img src="./picture/รูปอาจารย์/คอมพิวเตอร์/ผศ.นชิรัตน์  ราชบุรี.jpg" alt="" class="researcher-img" />
                  <p class="researcher-text">ผศ.นชิรัตน์ ราชบุรี</p>
                  <p class="dpment-text">คณะวิศวกรรมศาสตร์</p>
                </div>
                <div class="small-4 column column-block filter-simple-item nature" align="center">
                  <img src="./picture/รูปอาจารย์/คอมพิวเตอร์/ผศ.วัฒนา พันธ์ลำเจียก.jpg" alt="" class="researcher-img" />
                  <p class="researcher-text">ผศ.วัฒนา พันธ์ลำเจียก</p>
                  <p class="dpment-text">คณะวิศวกรรมศาสตร์</p>
                </div>
                <div class="small-4 column column-block filter-simple-item animals" align="center">
                  <img src="./picture/รูปอาจารย์/คอมพิวเตอร์/อ.เจษฎา  อรุณฤกษ์.jpg" alt="" class="researcher-img" />
                  <p class="researcher-text">อ.เจษฎา อรุณฤกษ์</p>
                  <p class="dpment-text">คณะวิศวกรรมศาสตร์</p>
                </div>
                <div class="small-4 column column-block filter-simple-item space" align="center">
                  <img src="./picture/รูปอาจารย์/คอมพิวเตอร์/อ.ณัชติพงศ์ อูทอง.jpg" alt="" class="researcher-img" />
                  <p class="researcher-text">อ.ณัชติพงศ์ อูทอง</p>
                  <p class="dpment-text">คณะวิศวกรรมศาสตร์</p>
                </div>
                <div class="small-4 column column-block filter-simple-item space" align="center">
                  <img src="./picture/รูปอาจารย์/คอมพิวเตอร์/อ.เดชรัชต์  ใจถวิล.jpg" alt="" class="researcher-img" />
                  <p class="researcher-text">อ.เดชรัชต์ ใจถวิล</p>
                  <p class="dpment-text">คณะวิศวกรรมศาสตร์</p>
                </div>
              </div>
            </section>
            <div style="padding:2em 0em 2em 0em;">
              <ul class="pagination text-center" role="navigation" aria-label="Pagination" data-page="6" data-total="16">
                <li class="pagination-previous disabled">Previous <span class="show-for-sr">page</span></li>
                <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
                <li><a href="#" aria-label="Page 2">2</a></li>
                <li><a href="#" aria-label="Page 3">3</a></li>
                <li><a href="#" aria-label="Page 4">4</a></li>
                <li class="ellipsis" aria-hidden="true"></li>
                <li><a href="#" aria-label="Page 12">12</a></li>
                <li><a href="#" aria-label="Page 13">13</a></li>
                <li class="pagination-next"><a href="#" aria-label="Next page">Next <span class="show-for-sr">page</span></a></li>
              </ul>


            </div>






          </div>
        </div>
      </div>
      <div class="cell medium-3" style="background:#FAFAFA;"></div>
    </div>
  </div>
</body>

<footer class="marketing-site-footer">

  <div class="grid-x " style="padding:1em">
    <div class="medium-4 columns">
      <h4 class="marketing-site-footer-name">Insutitute of Research and Delopmant RMUTT</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita dolorem accusantium architecto id quidem, itaque nesciunt quam ducimus atque.</p>
      <ul class="menu marketing-site-footer-menu-social simple">
        <li><a href="#"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
      </ul>
    </div>
    <div class="medium-4 columns">
      <h4 class="marketing-site-footer-title">Contact Info</h4>
      <div class="marketing-site-footer-block">
        <i class="fa fa-map-marker" style="color:#FFF" aria-hidden="true"></i>
        <p>เลขที่ 39 หมู่ที่ 1 ถ.รังสิต-นครนายก ต.คลองหก อ.ธัญบุรี จ.ปทุมธานี 12110</p>
      </div>
      <div class="marketing-site-footer-block">
        <i style="color:#FFF" class="fa fa-phone" aria-hidden="true"></i>
        <p>(+66) 0-2549-4682</p>
      </div>
      <div class="marketing-site-footer-block">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        <p>yetirules@fakeemail.com</p>
      </div>
    </div>
    <div class="medium-4 columns">
      <h4 class="marketing-site-footer-title">Facebook</h4>
      <div class="grid-x  small-up-3">

      </div>
    </div>
  </div>

  <div class="marketing-site-footer-bottom">
    <div class="row large-unstack align-middle">
      <div class="column">
        <p> Copyright 2019 &copy; Faculty of Engineering RMUTT </p>
      </div>
      <div class="column">
        <ul class="menu marketing-site-footer-bottom-links">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Publication Clinic</a></li>
          <li><a href="#">Research Unit</a></li>
          <li><a href="#">Journal</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
  <% include ../partials/footer %>
  <script src="js/portforio.js"></script>

</footer>





</html>
