<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
  <script src="js/Chart.bundle.js"></script>
  <script src="js/Chart.bundle.min.js"></script>
  <script src="js/Chart.js"></script>
  <script src="js/Chart.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
</head>

<body style="background-color: #efefef;  height: 100vh;">

  <div class="cell medium-auto medium-cell-block-container">
    <div class="grid-x">
      <div class="cell medium-cell-block-y " style="width:17rem">
        <% include ../partials/header %>
        <% include ../partials/flash %>
      </div>

      <div class="cell medium-cell-block-y auto" style="width:100%">

        <div class="cell small-6-container full bgforms" align="center">
          <div style="margin:35px;">
            <h1>จัดการรายงาน</h1>
            <div align="right" style="padding-right:1rem">
            </div>
          </div>
        </div>

        <div class="grid-x">
          <div id="alert-area" class="alert-area"></div>
          <div class="cell small-12 " style="display:block;">
            <div style="padding:2.5rem;">
              <div class="grid-y"> 

                <div class="grid-x">
                  <div class="cell small-6">
                    <div class="grid-x grid-margin-x">
                      <div class="cell small-3">
                        <p>ประเภทข้อมูล</p>
                      </div>
                      <div class="cell small-6">
                        <select id="id_dataTypeofResearch" style="margin:0px!important">
                          <option value="--Select--" selected="selected" disabled>กรุณาเลือกประเภทรายงาน</option>
                          <option>จำนวนนักวิจัย</option>
                          <option value="numberOfResearchGrants">จำนวนทุนวิจัย</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="cell small-6"> <p id="showmydata"></p></div>
                </div>

                <div class="grid-x">
                  <div class="cell small-6">
                    <div class="grid-x grid-margin-x">
                      <div class="cell small-3">
                        <p>ช่วงของข้อมูล</p>
                      </div>
                      <div class="cell small-3">
                        <select id="id_beginYear" style="margin:0px!important"></select>
                      </div>
                      <div class="cell small-3">
                        <select id="id_endYear" style="margin:0px!important"></select>
                      </div>
                    </div>
                  </div>
                  <div class="cell small-6"> </div>
                </div>

                <div class="grid-x">
                  <canvas id="myChart2" width="400" height="140px"></canvas>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

</body>

<footer>
  <script src="js/module/report.js"></script>
  <% include ../partials/footer %>
</footer>

</html>
