<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="css/forms.css">
<link rel="stylesheet" href="css/regis.css">
<link rel="stylesheet" href="css/signup.css">
<link rel="stylesheet" href="css/foundation-datepicker.css">
<link rel="stylesheet" href="css/foundation-datepicker.css.map">
<link rel="stylesheet" href="css/foundation-datepicker.min.css">

<head>
  <% include ../partials/head %>
</head>

<body style="height: 100vh;">
  <div class="cell medium-auto medium-cell-block-container">
    <div class="grid-x">
      <div class="cell medium-cell-block-y  " style="width:17rem">
        <% include ../partials/header %>
      </div>
      <div class="cell medium-cell-block-y auto">
        <div class="cell small-6 full  bgforms" align="left">
          <div style="padding: 2rem">
            <div class="grid-x">
              <div class=" small-2"></div>
              <div class=" small-8">
                <h1>เพิ่มผู้ใช้งานใหม่</h1>
              </div>
              <div class=" small-2"></div>
            </div>
          </div>
        </div>

        <div class="cell small-6 full" align="center" style="padding:2em;background:#FAFAFA">
            <div class="grid-x">
              <div class=" small-2"></div>
              <div class=" small-6">
                <ol class="progress-indicator">
                  <li class="is-complete" data-step="1">
                    <span>กรอกอีเมล</span>
                  </li>
                  <li class="is-current" data-step="2">
                    <span>กรอกข้อมูลส่วนตัว</span>
                  </li>
                  <li class="" data-step="3">
                    <span>เพิ่มรูปประจำตัว</span>
                  </li>
                </ol>
              </div>
              <div class=" small-4"></div>
            </div>
        </div>

        <div class="cell small-6" style="padding:2rem;background:#FAFAFA;">
          <form onload="document.signup.reset();" id="signup" name="signup" enctype="multipart/form-data" method="post" action="/signup">
          <% include ../pages/signup/newUser %>
          </form>
        </div>

      </div>
    </div>

</body>

<footer>
  <% include ../partials/footer %>
  <script src="js/regis.js"></script>
  <script src="js/signup.js"></script>
  <script src="js/foundation-datepicker.js"></script>
  <script src="js/foundation-datepicker.min.js"></script>
</footer>

</html>
