<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="css/forms.css">
<link rel="stylesheet" href="css/regis.css">
<link rel="stylesheet" href="css/foundation-datepicker.css">
<link rel="stylesheet" href="css/foundation-datepicker.css.map">
<link rel="stylesheet" href="css/foundation-datepicker.min.css">

<head>
  <% include ../partials/head %>
</head>

<body style="background-color: #efefef;  height: 100vh;">
  <div class="cell medium-auto medium-cell-block-container">
    <div class="grid-x">
      <div class="cell medium-cell-block-y  " style="width:17rem">
        <% include ../partials/header %>
      </div>
      <div class="cell medium-cell-block-y auto">
        <div class="grid-y small-6">
          <div class="cell small-6 full   bgforms" align="left">
            <div style="padding-top:3rem;padding-bottom:3rem;padding-left:3rem">
              <h1>เพิ่มผู้ใช้งานใหม่</h1>
            </div>
          </div>

          <div class="cell small-6" style="padding:2rem;background:orange;">
            <div class="grid-y ">

              <div class="grid-x " style="background:red;">

                <div class="cell small-6" style="background:green;padding:0.25rem;">
                  <div class="grid-x " style="background:red;">

                    <div class="cell small-6" style="background:pink;border-width:1px;border-style: solid;">
                      <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell small-4">
                          <label for="" class="text-left middle" style="margin:0px!important">สิทธิ์การใช้งาน</label>
                        </div>
                        <div class="cell small-8">
                          <input name="" style="margin:0px!important" type="text" />
                        </div>
                      </div>
                    </div>
                    <div class="cell small-6" style="background:pink;border-width:1px;border-style: solid;">

                    </div>

                  </div>
                </div>

                <div class="cell small-6" style="background:black;padding:0.25rem;">

                </div>

              </div>
              <div class="grid-x " style="background:red;padding-top: :1em;">
                <br>
              </div>

              <div class="grid-x " style="background:red;">

                <div class="cell small-6" style="background:green;padding:0.25rem;">
                  <div class="grid-x " style="background:red;">

                    <div class="cell small-6" style="background:pink;border-width:1px;border-style: solid;">
                      <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell small-3">
                          <label for="firstname" class="text-left middle" style="margin:0px!important">ชื่อ</label>
                        </div>
                        <div class="cell small-9">
                          <input name="firstname" style="margin:0px!important" type="text" />
                        </div>
                      </div>
                    </div>
                    <div class="cell small-6" style="background:pink;border-width:1px;border-style: solid;">
                      <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell small-3">
                          <label for="lastname" class="text-left middle" style="margin:0px!important">นามสกุล</label>
                        </div>
                        <div class="cell small-9">
                          <input name="lastname" style="margin:0px!important" type="text" />
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="cell small-6" style="background:black;padding:0.25rem;">
                  <div class="grid-x " style="background:red;">

                    <div class="cell small-6" style="background:pink;border-width:1px;border-style: solid;">
                      <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell small-6">
                          <label for="" class="text-left middle" style="margin:0px!important">หมายเลขบัตรประชาชน</label>
                        </div>
                        <div class="cell small-6">
                          <input name="" style="margin:0px!important" type="text" />
                        </div>
                      </div>
                    </div>
                    <div class="cell small-6" style="background:pink;border-width:1px;border-style: solid;">
                      <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell small-5">
                          <label for="" class="text-left middle" style="margin:0px!important">ตำแหน่งทางวิชาการ</label>
                        </div>
                        <div class="cell small-7">
                          <input name="" style="margin:0px!important" type="text" />
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

              </div>

              <div class="grid-x " style="background:red;">

                <div class="cell small-6" style="background:green;padding:0.25rem;">
                  <div class="grid-x " style="background:red;">

                    <div class="cell small-6" style="background:pink;border-width:1px;border-style: solid;">
                      <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell small-3">
                          <label for="" class="text-left middle" style="margin:0px!important">ชื่อ(อังกฤษ)</label>
                        </div>
                        <div class="cell small-9">
                          <input name="" type="text" style="margin:0px!important" />
                        </div>
                      </div>
                    </div>
                    <div class="cell small-6" style="background:pink;border-width:1px;border-style: solid;">
                      <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell small-4">
                          <label for="" class="text-left middle" style="margin:0px!important">นามสกุล(อังกฤษ)</label>
                        </div>
                        <div class="cell small-8">
                          <input name="" style="margin:0px!important" type="text" />
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="cell small-6" style="background:black;padding:0.25rem;">
                  <div class="grid-x " style="background:red;">

                    <div class="cell small-6" style="background:pink;border-width:1px;border-style: solid;">
                      <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell small-3">
                          <label for="" class="text-left middle" style="margin:0px!important">เพศ</label>
                        </div>
                        <div class="cell small-9">
                          <select style="margin:0px!important">
                              <option value="husker">ชาย</option>
                              <option value="starbuck">หญิง</option>
                            </select>
                        </div>
                      </div>
                    </div>
                    <div class="cell small-6" style="background:pink;border-width:1px;border-style: solid;">
                      <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell small-4">
                          <label for="lastname" class="text-left middle" style="margin:0px!important">วัน/เดือน/ปีเกิด</label>
                        </div>
                        <div class="cell small-8">
                          <input type="text" class="span2" id="dp1" style="margin:0px!important">
                          <script>
                            $(function() {
                              $('#dp1').fdatepicker({
                                initialDate: '02-12-1989',
                                format: 'dd-mm-yyyy',
                                disableDblClickSelection: true,
                                leftArrow: '<<',
                                leftArrow: '>>',
                                closeIcon: 'X',
                                closeButton: true
                              });
                            });
                          </script>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
              <div class="grid-x " style="background:red;">

                <div class="cell small-6" style="background:green;padding:0.25rem;">
                  <div class="grid-x " style="background:red;">

                    <div class="cell small-6" style="background:pink;border-width:1px;border-style: solid;">
                      <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell small-4">
                          <!-- <label for="email" class="text-right middle " style="margin:0px!important">Email</label> -->
                          <label for="" class="text-left middle" style="margin:0px!important">หน่วยงานหลัก</label>
                        </div>
                        <div class="cell small-8">
                          <select name="newCategoryD" id="catSelection" style="margin:0px!important">
                              <% for (var i = 0; i < data.length; i++){ %>
                                <option value="<%= data[i].departmentID %>"> <%=data[i].departmentName %></option>
                              <% } %>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="cell small-6" style="background:pink;border-width:1px;border-style: solid;">
                      <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell small-4">
                          <label for="" class="text-left middle" style="margin:0px!important">หน่วยงานย่อย</label>
                        </div>
                        <div class="cell small-8">
                          <select id="games" style="margin:0px!important"></select>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="cell small-6" style="background:black;padding:0.25rem;">
                  <div class="grid-x " style="background:red;">

                    <div class="cell small-6" style="background:pink;border-width:1px;border-style: solid;">
                      <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell small-3">
                          <!-- <label for="email" class="text-right middle " style="margin:0px!important">Email</label> -->
                          <label for="" class="text-left middle" style="margin:0px!important">เบอร์ติดต่อ</label>
                        </div>
                        <div class="cell small-9">
                          <!-- <input class="text" name="email" style="margin:0px!important" type="email" /> -->
                          <input name="" style="margin:0px!important" type="text" />
                        </div>
                      </div>
                    </div>
                    <div class="cell small-6" style="background:pink;border-width:1px;border-style: solid;">
                      <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell small-3">
                          <label for="" class="text-left middle" style="margin:0px!important">E-mail</label>
                        </div>
                        <div class="cell small-9">
                          <input name="" style="margin:0px!important" type="text" />
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
              <div class="grid-x " style="background:red;padding:2em;">


              </div>
              <div class="grid-x " style="background:red;">

                <div class="cell small-6" style="background:green;padding:0.25rem;">
                  <div class="grid-x " style="background:red;">

                    <div class="cell small-6" style="background:pink;border-width:1px;border-style: solid;">
                      <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell small-4">
                          <!-- <label for="email" class="text-right middle " style="margin:0px!important">Email</label> -->
                          <label for="" class="text-left middle" style="margin:0px!important">โรงเรียนมัธยมต้น</label>
                        </div>
                        <div class="cell small-8">
                          <!-- <input class="text" name="email" style="margin:0px!important" type="email" /> -->
                          <input name="" style="margin:0px!important" type="text" />
                        </div>
                      </div>
                    </div>
                    <div class="cell small-6" style="background:pink;border-width:1px;border-style: solid;">
                      <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell small-3">
                          <label for="" class="text-left middle" style="margin:0px!important">จังหวัด</label>
                        </div>
                        <div class="cell small-9">
                          <input name="" style="margin:0px!important" type="text" />
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="cell small-6" style="background:black;padding:0.25rem;">
                  <div class="grid-x " style="background:red;">

                    <div class="cell small-6" style="background:pink;border-width:1px;border-style: solid;">
                      <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell small-5">
                          <!-- <label for="email" class="text-right middle " style="margin:0px!important">Email</label> -->
                          <label for="" class="text-left middle" style="margin:0px!important">โรงเรียนมัธยมปลาย</label>
                        </div>
                        <div class="cell small-7">
                          <!-- <input class="text" name="email" style="margin:0px!important" type="email" /> -->
                          <input name="firstname" style="margin:0px!important" type="text" />
                        </div>
                      </div>
                    </div>
                    <div class="cell small-6" style="background:pink;border-width:1px;border-style: solid;">
                      <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell small-3">
                          <label for="" class="text-left middle" style="margin:0px!important">จังหวัด</label>
                        </div>
                        <div class="cell small-9">
                          <input name="lastname" style="margin:0px!important" type="text" />
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
              <div class="grid-x " style="background:red;">

                <div class="cell small-6" style="background:green;padding:0.25rem;">
                  <div class="grid-x " style="background:red;">

                    <div class="cell small-6" style="background:pink;border-width:1px;border-style: solid;">
                      <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell small-5">
                          <label for="" class="text-left middle" style="margin:0px!important">จำนวนปริญญา</label>
                        </div>
                        <div class="cell small-7">
                          <!-- Change the `data-field` of buttons and `name` of input field's for multiple plus minus buttons-->
                          <div class="input-group plus-minus-input add">
                            <div class="input-group-button">
                              <button type="button" class="button hollow circle" data-quantity="minus" data-field="quantity">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                              </button>
                            </div>
                            <input class="input-group-field " type="number" name="quantity" value="0">
                            <div class="input-group-button">
                              <button type="button" class="button hollow circle" data-quantity="plus" data-field="quantity">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                              </button>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>

                    <div class="cell small-6" style="background:pink;border-width:1px;border-style: solid;">
                      <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell small-7">



                        </div>
                        <div class="cell small-5">
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="cell small-6" style="background:black;padding:0.25rem;">
                  <div class="grid-x " style="background:red;">

                    <div class="cell small-6" style="background:pink;border-width:1px;border-style: solid;">
                      <div class="grid-x grid-padding-x grid-padding-y">

                      </div>
                    </div>
                    <div class="cell small-6" style="background:pink;border-width:1px;border-style: solid;">
                      <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell small-3">

                        </div>
                        <div class="cell small-9">

                        </div>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
              <div class="grid-x " style="background:red;">

                <div class="cell small-6" style="background:black;padding:0.25rem;">
                  <div class="grid-x " style="background:red;">

                    <div class="cell small-6" style="background:pink;border-width:1px;border-style: solid;">
                      <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell small-3">
                          <!-- <label for="email" class="text-right middle " style="margin:0px!important">Email</label> -->
                          <label for="firstname" class="text-left middle" style="margin:0px!important">ชื่อปริญญา</label>
                        </div>
                        <div class="cell small-9">
                          <!-- <input class="text" name="email" style="margin:0px!important" type="email" /> -->
                          <input name="firstname" style="margin:0px!important" type="text" />
                        </div>
                      </div>
                    </div>
                    <div class="cell small-6" style="background:pink;border-width:1px;border-style: solid;">
                      <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell small-3">
                          <label for="lastname" class="text-left middle" style="margin:0px!important">สาขา</label>
                        </div>
                        <div class="cell small-9">
                          <input name="lastname" style="margin:0px!important" type="text" />
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="cell small-6" style="background:green;padding:0.25rem;">
                  <div class="grid-x " style="background:red;">

                    <div class="cell small-6" style="background:pink;border-width:1px;border-style: solid;">
                      <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell small-4">
                          <!-- <label for="email" class="text-right middle " style="margin:0px!important">Email</label> -->
                          <label for="" class="text-left middle" style="margin:0px!important">ชื่อมหาวิทยาลัย</label>
                        </div>
                        <div class="cell small-8">
                          <!-- <input class="text" name="email" style="margin:0px!important" type="email" /> -->
                          <input name="" style="margin:0px!important" type="text" />
                        </div>
                      </div>
                    </div>
                    <div class="cell small-6" style="background:pink;border-width:1px;border-style: solid;">
                      <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell small-3">
                          <label for="" class="text-left middle" style="margin:0px!important">ประเทศ</label>
                        </div>
                        <div class="cell small-9">
                          <input name="lastname" style="margin:0px!important" type="text" />
                        </div>
                      </div>
                    </div>

                  </div>
                </div>



              </div>
              <div class="optionBox">
                <div class="grid-x " style="background:red;">

                <div class="cell small-6" style="background:green;padding:0.25rem;">
                  <div class="grid-x " style="background:red;">

                    <div class="cell small-6" style="background:pink;border-width:1px;border-style: solid;">
                      <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell small-3">
                          <!-- <label for="email" class="text-right middle " style="margin:0px!important">Email</label> -->
                          <label for="firstname" class="text-left middle" style="margin:0px!important">ชื่อ</label>
                        </div>
                        <div class="cell small-9">
                          <!-- <input class="text" name="email" style="margin:0px!important" type="email" /> -->
                          <input name="firstname" style="margin:0px!important" type="text" />
                        </div>
                      </div>
                    </div>
                    <div class="cell small-6" style="background:pink;border-width:1px;border-style: solid;">
                      <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell small-3">
                          <label for="lastname" class="text-left middle" style="margin:0px!important">นามสกุล</label>
                        </div>
                        <div class="cell small-9">
                          <input name="lastname" style="margin:0px!important" type="text" />
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="cell small-6" style="background:black;padding:0.25rem;">
                  <div class="grid-x " style="background:red;">

                    <div class="cell small-6" style="background:pink;border-width:1px;border-style: solid;">
                      <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell small-3">
                          <!-- <label for="email" class="text-right middle " style="margin:0px!important">Email</label> -->
                          <label for="firstname" class="text-left middle" style="margin:0px!important">ชื่อ</label>
                        </div>
                        <div class="cell small-9">
                          <!-- <input class="text" name="email" style="margin:0px!important" type="email" /> -->
                          <input name="firstname" style="margin:0px!important" type="text" />
                        </div>
                      </div>
                    </div>
                    <div class="cell small-6" style="background:pink;border-width:1px;border-style: solid;">
                      <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell small-3">
                          <label for="lastname" class="text-left middle" style="margin:0px!important">นามสกุล</label>
                        </div>
                        <div class="cell small-9">
                          <input name="lastname" style="margin:0px!important" type="text" />
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
              </div>
              <div class="grid-x " style="background:red;padding:2em;">


              </div>
              <div class="grid-x " style="background:red;">

                <div class="cell small-6" style="background:green;padding:0.25rem;">
                  <div class="grid-x " style="background:red;">

                    <div class="cell small-6" style="background:pink;border-width:1px;border-style: solid;">
                      <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell small-4">
                          <label for="text" class="text-right middle" style="margin:0px!important">รหัสผ่าน</label>
                        </div>
                        <div class="cell small-8">
                          <input name="text" type="password" style="margin:0px!important" />
                        </div>
                      </div>
                    </div>
                    <div class="cell small-6" style="background:pink;border-width:1px;border-style: solid;">
                      <div class="grid-x grid-padding-x grid-padding-y">
                        <div class="cell small-4">
                          <label for="text" class="text-right middle" style="margin:0px!important">ยืนยันรหัสผ่าน</label>
                        </div>
                        <div class="cell small-8">
                          <input name="text" type="password" style="margin:0px!important" />
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="cell small-6" style="background:black;padding:0.25rem;">

                </div>

              </div>
              <div class="grid-x " style="background:red;padding:2em;">


              </div>

              <div class="grid-x " style="background:red;">

                <div class="cell small-6" style="background:green;padding:0.25rem;">
                  <div class="grid-x " style="background:red;">

                    <div class="cell small-6" style="background:pink;border-width:1px;border-style: solid;">

                    </div>
                    <div class="cell small-6" style="background:pink;border-width:1px;border-style:solid;padding:1rem 0rem 1rem 10rem;">

                      <input class="button primary" type="submit" value="ยืนยัน" />

                    </div>

                  </div>
                </div>

                <div class="cell small-6" style="background:black;padding:0.25rem;">
                  <div class="grid-x " style="background:red;">

                    <div class="cell small-6" style="background:pink;border-width:1px;border-style: solid;padding:1rem 0rem 1rem 10rem;">
                      <input class="button alert" type="reset" value="ยกเลิก" />
                    </div>
                    <div class="cell small-6" style="background:pink;border-width:1px;border-style: solid;">

                    </div>

                  </div>
                </div>

              </div>

            </div>


            <!-- <form class="myform" id="signup" name="signup" method="post" action="/signup"> -->
            <!--
                <input class="button primary" type="submit" value="ยืนยัน" />
              </form>  -->
          </div>

          <!-- <div class="grid-x grid-padding-x">
                    <div class="small-3 cell field">

                      <div class="grid-y">
                        <div class="cell small-2 ">

                        </div>
                        <div class="cell small-2 ">

                        </div>
                        <div class="cell small-2 ">

                        </div>
                        <div class="cell small-2 ">
                          <label for="password" class="text-right middle">รหัสผ่าน</label>
                        </div>
                        <div class="cell small-2 ">
                          <label for="password" class="text-right middle">เพศ</label>
                        </div>
                        <div class="cell small-2 ">
                          <label for="" class="text-right middle">หมายเลขโทรศัพท์มือถือ</label>
                        </div>
                      </div>
                    </div>
                    <div class="small-9 cell field">
                      <div class="grid-y">
                        <div class="cell small-2 ">

                        </div>
                        <div class="cell small-2 ">

                        </div>
                        <div class="cell small-2 ">

                        </div>
                        <div class="cell small-2 ">
                          <input name="password" type="password" />
                        </div>
                        <div class="cell small-2 ">

                          </label>
                        </div>
                        <div class="cell small-2 ">
                          <input name="" type="number" />
                          </label>
                        </div>
                      </div>
                    </div>
                  </div> -->
          <!-- <div class="cell small-6">
                  <div class="grid-x grid-padding-x">
                    <div class="small-3 cell field">
                      <label for="" class="text-right middle">หมายเลขบัตรประชาชน</label>

                      <label for="" class="text-right middle">นามสกุล(อังกฤษ)</label>
                      <label for="" class="text-right middle">ตำแหน่งทางวิชาการ</label>
                      <label for="" class="text-right middle">ว/ด/ป</label>
                    </div>
                    <div class="small-9 cell field">
                      <input name="" type="text" />

                      <input name="" type="text" />
                      <input name="" type="text" />



                    </div>


                  </div>
                </div> -->


        </div>
      </div>
    </div>

</body>

<footer>
  <% include ../partials/footer %>
    <script src="js/regis.js"></script>
    <script src="js/foundation-datepicker.js"></script>
    <script src="js/foundation-datepicker.min.js"></script>
</footer>

</html>
