<!DOCTYPE html>
<html lang="en">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="  https://cdn.datatables.net/1.10.16/js/dataTables.foundation.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.foundation.min.css">

<head>
  <% include ../partials/head %>
</head>

<body>
  <div class="grid-x">
    <header class="cell shrink">
      <% include ../partials/header %>
    </header>

    <div class="cell auto">
      <div class="grid-y" style="padding:10rem">        
        <table id="example" width="100%" class="hover unstriped"></table>
      </div>
    </div>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </div>
</body>

</html>
