<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="css/forms.css">
<link rel="stylesheet" href="css/regis.css">
<link rel="stylesheet" href="css/signup.css">
<link rel="stylesheet" href="css/foundation-datepicker.css">
<link rel="stylesheet" href="css/foundation-datepicker.css.map">
<link rel="stylesheet" href="css/foundation-datepicker.min.css">

<head>
  <% include ../partials/head %>
</head>

<body style="height: 100vh;">
  <div class="cell medium-auto medium-cell-block-container">

    <div class="grid-x">
      <div class="cell medium-cell-block-y  " style="width:17rem">
        <% include ../partials/header %>
        <% include ../partials/flash %>
      </div>
      <div class="cell medium-cell-block-y auto">

        <div class="grid-y small-6">

          <div class="cell small-6 full  bgforms" align="left">
            <div style="padding: 2rem">

              <div class="grid-x">
                <div class=" small-2"></div>
                <div class=" small-8">
                  <h1>เพิ่มผู้ใช้งานใหม่</h1>
                </div>
                <div class=" small-2"></div>
              </div>

            </div>
          </div>

          <div class="cell small-6" align="center" style="padding:2em;">
              <div class="grid-x">
                <div class=" small-2"></div>
                <div class=" small-6">
                  <ol class="progress-indicator">
                    <li class="is-current" data-step="1">
                      <span>กรอกอีเมล</span>
                    </li>
                    <li class="" data-step="2">
                      <span>กรอกข้อมูลส่วนตัว</span>
                    </li>
                    <li class="" data-step="3">
                      <span>เพิ่มรูปประจำตัว</span>
                    </li>
                    <li class="" data-step="4">
                      <span>โปรไฟล์</span>
                    </li>
                  </ol>
                </div>
                <div class=" small-4"></div>
              </div>
          </div>

          <div class="cell small-6" style="padding:2rem;">
            <form id="" name="" method="post" action="/useridcheck">
              <div class="grid-x">
                <div class=" small-2"></div>
                <div class=" small-6" style="background-color:#FFF;border-radius:10px;border:1px solid #E6E6E6;">
                  <div class="grid-y">

                    <div class="cell small-6">
                      <div class="grid-y">
                        <div class="cell small-4" style="border-radius:5px;padding:1em;">

                          <label style="font-size:1.5em;">กรุณาใส่ E-Mail   <i class="far fa-envelope"></i></label>

                        </div>
                        <div class="cell small-4" style="border-radius:5px;padding:0em 1em 1em 1em;">


                          <div class="floated-label-wrapper" >
                            <label for="newemail">E-Mail</label>
                            <input type="email" name="newemail" id="newemail_ID" placeholder="E-Mail" style="margin:0px!important;border-radius:5px;">
                          </div>
                        </div>

                      </div>
                    </div>

                  </div>
                </div>

                <div class="cell small-2" style="border-radius:5px;padding-left: 1em;">
                  <div class="grid-y">

                    <div class=" small-6" style="padding-bottom: 1em;">
                      <input type="submit" value="ยืนยัน" class="button primary expanded" id="comfirmemailChkPage"  style="border-radius:5px;padding:1em;">
                    </div>

                    <div class=" small-6">
                      <a type="button"href="/alluser" class="button hollow  alert expanded" style="border-radius:5px;padding:1em;">ยกเลิก</a>
                    </div>


                  </div>
                </div>
              </div>

            </form>
          </div>

        </div>
      </div>
    </div>

</body>

<footer>
  <% include ../partials/footer %>
  <script src="js/regis.js"></script>
  <script src="js/signup.js"></script>
  <script src="js/foundation-datepicker.js"></script>
  <script src="js/foundation-datepicker.min.js"></script>
</footer>

</html>
