<div class="reveal mobile-ios-modal" id="editFacultyNameShowup" data-reveal>
  <form ref='uploadForm' encType="multipart/form-data" class="" action="/department/updatefacultyname/" method="post">
    <div class="">
      <h3>เปลี่ยนชื่อคณะ</h3>
      <div class="grid-y">

        <div class="grid-x" style="padding-top:40px">
          <div class="cell small-4">
              <p>ชื่อคณะเก่า</p>
          </div>
          <div class="cell small-8">
              <input  type="text" id="displayOldFacultyname" name="name_displayOldFacultyname" style="color:#848484;" readonly>
          </div>
        </div>

        <div class="grid-x" style="padding-top:10px">
          <div class="cell small-4">
            <p>ชื่อคณะใหม่</p>
          </div>
          <div class="cell small-8 fieldFacultyname">
            <input type="hidden"  name="oldFacultyID" id="ID_oldFacultyID">
            <input type="hidden"  name="uniIDforEditFacultyName" id="ID_uniIDforEditFacultyName">
            <input type="text" id="id_edit_newNameFaculty" name="newFacultyName" placeholder="ชื่อคณะใหม่">
            <span class="label alert hide" id="alertEmptryName_foreditFacultyName"><i class="fi-x-circle"></i>กรุณากรอกข้อมูล</span>
            <span class="label alert hide" id="alertDuplicateName_foreditFacultyName"><i class="fi-x-circle"></i>มีชื่อคณะนี้แล้ว</span>
          </div>
        </div>

      </div>

    </div>
    <div class="mobile-ios-modal-options">
      <input type="submit" name="" id="comfirmUpdateFacultyName"value="ตกลง" class="button " disabled="disabled" >
      <button data-close type="reset" class="alert button">ยกเลิก</button>
    </div>
  </form>
</div>
