<!-- ROW กลุ่มข้อมูล -->

<div class="cell small-6" style="padding:0em 0em 1em 0em;background-color:#FFF;border-radius:10px;border:1px solid #E6E6E6;">
  <div class="grid-y">

    <div class="cell small-6" style="padding:1em 1em 0em 1em;">

      <div class="grid-x grid-margin-x" style="padding-top:1em">
        <!-- คอลัม 1 -->
        <div class="cell small-3">
          <label style="font-size:1.25em;">ผู้ร่วมวิจัย</label>
        </div>
        <!-- คอลัม 2 -->
        <div class="cell small-6">
            <input type="text" name="" id="" placeholder="ค้นหาชื่อนักวิจัย" />
        </div>
        <!-- คอลัม 3 -->
        <div class="cell small-3">
          <span data-tooltip class="top" data-click-open="false" tabindex="2" title="สูงสุด 10 ท่าน">
            <button type="button" class="hollow button small addRSProject" href="#" id="addRSProject"> เพิ่ม </button>
          </span>

        </div>

      </div>
    </div>




  </div>

</div>
