<!-- Inputmask -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/jquery.inputmask.bundle.js"></script>


<form id="signup" name="signup" method="post" action="/signup">

  <div class="grid-y small-6">
    <div class="cell small-6 full   bgforms" align="left">
      <div style="padding: 2rem 2rem 2rem 2rem">

        <div class="grid-x ">
          <div class=" small-6">

            <h1>เพิ่มผู้ใช้งานใหม่</h1>
            <div class=" small-4">
              <ol class="progress-indicator">
                <li class="is-complete" data-step="1">
                </li>
                <li class="is-current" data-step="2">
                </li>
                <li class="" data-step="3">
                </li>
              </ol>
            </div>
            <div class=" small-4">
            </div>
            <div class=" small-4">
            </div>
          </div>
          <div class=" small-6">

            <div align="right" style="padding-right:1rem">


                <div class="image-hover-wrapper">
                  <div class="avatar-preview">
                  <a href="#">
                    <div id="imagePreview" class="imagePreview" style="background-image: url(../picture/profile.jpg);"></div>
                    <span class="image-hover-wrapper-reveal">
                      <p>เปลี่ยนรูป<br>
                      <input type='file' id="imageUpload"  accept=".png, .jpg, .jpeg" />
                    </p>

                    </span>
                  </a>
                </div>

              </div>
            </div>

            <!-- <div class="avatar-upload">
              <div class="avatar-edit">
                <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                <label for="imageUpload"></label>
              </div>
              <div class="avatar-preview">
                <div id="imagePreview" style="background-image: url(../picture/profile.jpg);">
                </div>
              </div>
            </div> -->


          </div>
        </div>




      </div>
    </div>

    <div class="cell small-6" style="padding:1.5rem; ">
      <div class="grid-y ">

        <div class="grid-x " style=" ">

          <div class="cell small-6" style="    padding:0.2rem;">
            <div class="grid-x " style=" ">

              <div class="cell small-6" style="  ">
                <div class="grid-x grid-padding-x grid-padding-y">
                  <div class="cell small-4">
                    <label for="" class="text-left middle" style="margin:0px!important">สิทธิ์การใช้งาน</label>
                  </div>
                  <div class="cell small-8">
                    <select id="" name="userPermission" style="margin:0px!important">
                      <option value="admin">ผู้ดูแลระบบ</option>
                      <option value="user">นักวิจัย</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="cell small-6" style="  ">
                <div class="grid-x grid-padding-x grid-padding-y">
                  <div class="cell small-4">
                    <label for="" class="text-left middle" style="margin:0px!important">รหัสนักวิจัย</label>
                  </div>
                  <div class="cell small-8">
                    <input name="nameIDReseacher" style="margin:0px!important" type="text" />
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="cell small-6" style="    padding:0.2rem;">
            <div class="grid-x " style=" ">

              <div class="cell small-6" style="  ">
                <div class="grid-x grid-padding-x grid-padding-y">
                  <div class="cell small-4">
                    <label for="" class="text-left middle" style="margin:0px!important">รหัสบัตรประชาชน</label>
                  </div>
                  <div class="cell small-8">
                    <input name="nameIDHuman" style="margin:0px!important" type="text" data-inputmask="'mask':'9-9999-99999-99-9'" />
                  </div>
                </div>
              </div>
              <div class="cell small-6" style="  ">

              </div>

            </div>
          </div>

        </div>
        <div class="grid-x " style=" padding-top: :1em;">
          <br>
        </div>

        <div class="grid-x " style=" ">

          <div class="cell small-6" style="    padding:0.2rem;">
            <div class="grid-x " style=" ">

              <div class="cell small-6" style="  ">
                <div class="grid-x grid-padding-x grid-padding-y">
                  <div class="cell small-4">
                    <label class="text-left middle" style="margin:0px!important">ชื่อ (ภาษาไทย)</label>
                  </div>
                  <div class="cell small-8">
                    <input name="firstname" style="margin:0px!important" type="text" />
                  </div>
                </div>
              </div>
              <div class="cell small-6" style="  ">
                <div class="grid-x grid-padding-x grid-padding-y">
                  <div class="cell small-5">
                    <label class="text-left middle" style="margin:0px!important">นามสกุล (ภาษาไทย)</label>
                  </div>
                  <div class="cell small-7">
                    <input name="lastname" style="margin:0px!important" type="text" />
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="cell small-6" style="    padding:0.2rem;">
            <div class="grid-x " style=" ">

              <div class="cell small-6" style="  ">
                <div class="grid-x grid-padding-x grid-padding-y">
                  <div class="cell small-3">
                    <label for="" class="text-left middle" style="margin:0px!important">ชื่อ(อังกฤษ)</label>
                  </div>
                  <div class="cell small-9">
                    <input name="engFirstName" type="text" style="margin:0px!important" />
                  </div>
                </div>
              </div>
              <div class="cell small-6" style="  ">
                <div class="grid-x grid-padding-x grid-padding-y">
                  <div class="cell small-4">
                    <label for="" class="text-left middle" style="margin:0px!important">นามสกุล(อังกฤษ)</label>
                  </div>
                  <div class="cell small-8">
                    <input name="engLastName" style="margin:0px!important" type="text" />
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="grid-x " style=" ">

          <div class="cell small-6" style=" padding:0.25rem;">
            <div class="grid-x " style=" ">

              <div class="cell small-6" style="  ">
                <div class="grid-x grid-padding-x grid-padding-y">
                  <div class="cell small-6">
                    <label for="" class="text-left middle" style="margin:0px!important">คำนำหน้า</label>
                  </div>
                  <div class="cell small-6">
                    <select id="" name="prefix" style="margin:0px!important">
                      <option value="Mr.">นาย</option>
                      <option value="Mrs.">นาง</option>
                      <option value="Miss.">นางสาว</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="cell small-6" style="  ">
                <div class="grid-x grid-padding-x grid-padding-y">
                  <div class="cell small-5">
                    <label for="" class="text-left middle" style="margin:0px!important">ตำแหน่งทางวิชาการ</label>
                  </div>
                  <div class="cell small-7">
                    <input name="academicPositions" style="margin:0px!important" type="text" />
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="cell small-6" style=" padding:0.25rem;">
            <div class="grid-x " style=" ">

              <div class="cell small-6" style="  ">
                <div class="grid-x grid-padding-x grid-padding-y">
                  <div class="cell small-3">
                    <label for="" class="text-left middle" style="margin:0px!important">สัญชาติ</label>
                  </div>
                  <div class="cell small-9">
                    <input name="nationality" style="margin:0px!important" type="text" />
                  </div>
                </div>
              </div>
              <div class="cell small-6" style="  ">
                <div class="grid-x grid-padding-x grid-padding-y">
                  <div class="cell small-4">
                    <label class="text-left middle" style="margin:0px!important">วัน/เดือน/ปีเกิด</label>
                  </div>
                  <div class="cell small-8">
                    <input type="text" class="span2" id="dp1" name="birthday" style="margin:0px!important">
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

        <div class="grid-x " style=" ">

          <div class="cell small-6" style=" padding:0.25rem;">
            <div class="grid-x " style=" ">

              <div class="cell small-6" style="  ">
                <div class="grid-x grid-padding-x grid-padding-y">
                  <div class="cell small-6">
                    <label for="" class="text-left middle" style="margin:0px!important">เบอร์โทร</label>
                  </div>
                  <div class="cell small-6">
                    <input name="telNumber" style="margin:0px!important" type="text" />
                  </div>
                </div>
              </div>
              <div class="cell small-6" style="  ">
                <div class="grid-x grid-padding-x grid-padding-y">
                  <div class="cell small-5">
                    <label for="" class="text-left middle" style="margin:0px!important">e-mail</label>
                  </div>
                  <div class="cell small-7">
                    <input name="email" style="margin:0px!important" type="email" />
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="cell small-6" style=" padding:0.2rem;">

          </div>

        </div>

        <div class="grid-x " style=" padding:1em;">
        </div>
        <div class="grid-x " style=" ">

          <div class="cell small-6" style="    padding:0.2rem;">
            <div class="grid-x " style=" ">

              <div class="cell small-6" style="  ">
                <div class="grid-x grid-padding-x grid-padding-y">
                  <div class="cell small-4">
                    <label for="" class="text-left middle" style="margin:0px!important">วันที่เข้าทำงาน</label>
                  </div>
                  <div class="cell small-8">
                    <input type="text" class="span2" name="fristDayJoin" id="dp2" style="margin:0px!important">
                  </div>
                </div>
              </div>
              <div class="cell small-6" style="  ">
                <div class="grid-x grid-padding-x grid-padding-y">
                  <div class="cell small-4">
                    <label for="" class="text-left middle" style="margin:0px!important">วันที่ออก</label>
                  </div>
                  <div class="cell small-8">
                    <input type="text" class="span2" name="dayLeft" style="margin:0px!important">
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="cell small-6" style=" padding:0.2rem;">

          </div>

        </div>
        <div class="grid-x " style=" ">

          <div class="cell small-6" style="    padding:0.2rem;">
            <div class="grid-x " style=" ">

              <div class="cell small-6" style="  ">
                <div class="grid-x grid-padding-x grid-padding-y">
                  <div class="cell small-4">
                    <label for="" class="text-left middle" style="margin:0px!important">ประเทศ</label>
                  </div>
                  <div class="cell small-8">
                    <select name="country" id="ID_country" style="margin:0px!important">
                      <option disabled selected value>เลือก</option>
                      <% for (var i = 0; i < data.length; i++){ %>
                      <option value="<%= data[i].countryISOCode %>">
                        <%=data[i].countryName %>
                      </option>
                      <% } %>
                    </select>
                  </div>
                </div>
              </div>
              <div class="cell small-6" style="  ">

              </div>

            </div>
          </div>

          <div class="cell small-6" style="    padding:0.2rem;">
            <div class="grid-x " style=" ">

              <div class="cell small-6" style="  ">

              </div>
              <div class="cell small-6" style="  ">
              </div>

            </div>
          </div>

        </div>

        <div class="grid-x " style=" ">

          <div class="cell small-6" style="    padding:0.2rem;">
            <div class="grid-x " style=" ">

              <div class="cell small-6" style="  ">
                <div class="grid-x grid-padding-x grid-padding-y">
                  <div class="cell small-4">
                    <label for="" class="text-left middle" style="margin:0px!important">มหาวิทยาลัย</label>
                  </div>
                  <div class="cell small-8">
                    <select name="university" id="ID_university" style="margin:0px!important"></select>
                  </div>
                </div>
              </div>
              <div class="cell small-6" style="  ">
                <div class="grid-x grid-padding-x grid-padding-y">
                  <div class="cell small-4">
                    <label for="" class="text-left middle" style="margin:0px!important">คณะ</label>
                  </div>
                  <div class="cell small-8">
                    <select name="faculty" id="ID_faculty" style="margin:0px!important"></select>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="cell small-6" style="    padding:0.2rem;">
            <div class="grid-x " style=" ">

              <div class="cell small-6" style="  ">
                <div class="grid-x grid-padding-x grid-padding-y">
                  <div class="cell small-4">
                    <label for="" class="text-left middle" style="margin:0px!important">หน่วยงานหลัก</label>
                  </div>
                  <div class="cell small-8">
                    <select name="department" id="ID_department" style="margin:0px!important">
                      <option value=""></option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="cell small-6" style="  ">
                <div class="grid-x grid-padding-x grid-padding-y">
                  <div class="cell small-4">
                    <label for="" class="text-left middle" style="margin:0px!important">หน่วยงานย่อย</label>
                  </div>
                  <div class="cell small-8">
                    <select name="subdepartment" id="ID_subdepartment" style="margin:0px!important"></select>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
        <div class="grid-x " style=" padding:1em;">


        </div>
        <div class="grid-x " style=" ">

          <div class="cell small-6" style="    padding:0.2rem;">
            <div class="grid-x " style=" ">

              <div class="cell small-6" style="  ">
                <div class="grid-x grid-padding-x grid-padding-y">
                  <div class="cell small-4">
                    <label for="" class="text-left middle" style="margin:0px!important">รหัสผ่าน</label>
                  </div>
                  <div class="cell small-8">
                    <input name="password" style="margin:0px!important" type="password" />
                  </div>
                </div>
              </div>
              <div class="cell small-6" style="  ">
                <div class="grid-x grid-padding-x grid-padding-y">
                  <div class="cell small-4">
                    <label for="" class="text-left middle" style="margin:0px!important">ยืนยันรหัสผ่าน</label>
                  </div>
                  <div class="cell small-8">
                    <input name="" style="margin:0px!important" type="password" />

                  </div>
                </div>
              </div>

            </div>

            <div class="grid-x " style=" ">

              <div class="cell small-6" style="  ">

              </div>
              <div class="cell small-6" style="  ">
                <div class="grid-x grid-padding-x grid-padding-y">
                  <div class="cell small-4">

                  </div>
                  <div class="cell small-8">
                    <span class="label alert " id=""><i class="fi-x-circle"></i>รหัสผ่านไม่ตรงกัน</span>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="cell small-6" style="    padding:0.2rem;">

          </div>

        </div>


        <div class="grid-x " style=" padding:1em;">


        </div>


        <div class="grid-x " style=" padding:1em;">


        </div>

        <div class="grid-x " style=" ">

          <div class="cell small-6" style="    padding:0.2rem;">
            <div class="grid-x " style=" ">

              <div class="cell small-6" style="  ">

              </div>
              <div class="cell small-6" style="padding:1rem 0rem 1rem 10rem;">

                <input class="button primary" type="submit" value="ยืนยัน" />

              </div>

            </div>
          </div>

          <div class="cell small-6" style=" padding:0.25rem;">
            <div class="grid-x " style=" ">

              <div class="cell small-6" style="  padding:1rem 0rem 1rem 10rem;">
                <input class="button alert" type="reset" value="ยกเลิก" />
              </div>
              <div class="cell small-6" style="  ">

              </div>

            </div>
          </div>

        </div>

      </div>
    </div>


  </div>

</form>
