<div class="grid-x">
  <div class="cell small-2"></div>
  <div class="cell small-6">

    <div class="grid-y grid-margin-y">

      <!-- ROW กลุ่มข้อมูล -->
      <div class="cell small-6" style="background-color:#FFF;border-radius:10px;border:1px solid #E6E6E6;">

        <div class="cell small-6" style="padding:1em 1em 1em 1em;">
          <label style="font-size:1.5em;">ข้อมูลส่วนตัว </label>

          <p style="color:#cc4b37;"> กรุณากรอกข้อมูลให้ครบทุกช่อง ถ้าไม่มีกรุณาใส่ -</p>
        </div>

        <div class="grid-y">
          <div class="cell small-6" style="padding:0em 1em 1em 1em;">
            <div class="grid-x grid-margin-x">
              <!-- คอลัม 1 -->
              <div class="cell small-6">
                <label for="email" style="color:#8a8a8a;">E-Mail</label>
                <input type="email" name="email" id="newemail_ID" readonly="readonly" placeholder="E-Mail" style="margin:0px!important;border-radius:5px;" value="<%=email%>" required>
              </div>
              <!-- คอลัม 2 -->
              <div class="cell small-6 ">
                <label style="color:#8a8a8a;">สิทธิ์การใช้งาน</label>
                <select placeholder="สิทธิ์การใช้งาน" name="userPermission" style="margin:0px!important;border-radius:5px;">
                  <option value="admin">ผู้ดูแลระบบ</option>
                  <option value="user">ผู้บริหาร</option>
                  <option value="user">นักวิจัย</option>
                </select>
              </div>

            </div>
          </div>

          <div class="cell small-6" style="padding:1em 1em 1em 1em;">
            <div class="grid-x grid-margin-x">
              <!-- คอลัม 1 -->
              <div class="cell small-6 floated-label-wrapper">
                <label for="nameIDHuman">รหัสบัตรประชาชน</label>
                <input required type="text" name="nameIDHuman" placeholder="รหัสบัตรประชาชน" style="margin:0px!important;border-radius:5px;" />
              </div>
              <!-- คอลัม 3 -->
              <div class="cell small-6 floated-label-wrapper">
                <label for="birthday">วัน/เดือน/ปีเกิด</label>
                <input required type="text" name="birthday" placeholder="วัน/เดือน/ปีเกิด" data-toggle="datepicker" style="margin:0px!important;border-radius:5px;" />

              </div>
            </div>
          </div>

          <div class="cell small-6" style="padding:1em 1em 1em 1em;">
            <div class="grid-x grid-margin-x">
              <!-- คอลัม 1 -->
              <div class="cell small-3 ">
                <label for="prefix" style="color:#8a8a8a;">คำนำหน้า</label>
                <select name="prefix" style="margin:0px!important;border-radius:5px;">
                  <option value="Mr.">นาย</option>
                  <option value="Mrs.">นาง</option>
                  <option value="Miss.">นางสาว</option>
                </select>
              </div>
              <!-- คอลัม 2 -->
              <div class="cell small-3 ">
                <label for="academicPositions" style="color:#8a8a8a;">ตำแหน่งทางวิชาการ</label>
                <select name="academicPositions" style="margin:0px!important;border-radius:5px;">
                  <option value="ศ.ดร.">ศ.ดร.</option>
                  <option value="ศ.">ศ.</option>
                  <option value="รศ.ดร.">รศ.ดร.</option>
                  <option value="รศ.">รศ.</option>
                  <option value="ผศ.ดร.">ผศ.ดร.</option>
                  <option value="ผศ.">ผศ.</option>
                  <option value="ดร.">ดร.</option>
                  <option value="อ.">อ.</option>
                </select>
              </div>
            </div>
          </div>

          <div class="cell small-6" style="padding:1em 1em 1em 1em;">
            <div class="grid-x grid-margin-x">
              <!-- คอลัม 1 -->
              <div class="cell small-6 floated-label-wrapper">
                <label for="firstname">ชื่อ (ภาษาไทย)</label>
                <input required type="text" name="firstname" placeholder="ชื่อ (ภาษาไทย)" style="margin:0px!important;border-radius:5px;" />
              </div>
              <!-- คอลัม 2 -->
              <div class="cell small-6 floated-label-wrapper">
                <label for="lastname">นามสกุล (ภาษาไทย)</label>
                <input required type="text" name="lastname" placeholder="นามสกุล (ภาษาไทย)" style="margin:0px!important;border-radius:5px;" />
              </div>
            </div>
          </div>

          <div class="cell small-6" style="padding:1em 1em 1em 1em;">
            <div class="grid-x grid-margin-x">
              <!-- คอลัม 1 -->
              <div class="cell small-6 ">

                <div class="grid-x grid-margin-x">

                  <div class="cell small-12 floated-label-wrapper">
                    <label for="engFirstName">ชื่อ (ภาษาอังกฤษ)</label>
                    <input required type="text" name="engFirstName" placeholder="ชื่อ  (ภาษาอังกฤษ)" style="margin:0px!important;border-radius:5px;" />
                  </div>

                </div>

              </div>
              <!-- คอลัม 2 -->
              <div class="cell small-6 floated-label-wrapper">
                <label for="engLastName">นามสกุล (ภาษาอังกฤษ)</label>
                <input required type="text" name="engLastName" placeholder="นามสกุล (ภาษาอังกฤษ)" style="margin:0px!important;border-radius:5px;" />
              </div>
            </div>
          </div>

          <div class="cell small-6" style="padding:1em 1em 1em 1em;">
            <div class="grid-x grid-margin-x">
              <!-- คอลัม 1 -->
              <div class="cell small-6">
                <div class="grid-x grid-margin-x">

                  <div class="cell small-12 floated-label-wrapper">
                    <label for="nationality">สัญชาติ</label>
                    <input required type="text" name="nationality" placeholder="สัญชาติ" style="margin:0px!important;border-radius:5px;" />
                  </div>

                </div>
              </div>
              <!-- คอลัม 2 -->
              <div class="cell small-6 floated-label-wrapper">
                <label for="telNumber">เบอร์โทร</label>
                <input required type="text" name="telNumber" placeholder="เบอร์โทร" style="margin:0px!important;border-radius:5px;" />
              </div>
            </div>
          </div>

        </div>

      </div>

      <!-- ROW กลุ่มข้อมูล -->
      <div class="cell small-6" style="background-color:#FFF;border-radius:10px;border:1px solid #E6E6E6;">

        <div class="cell small-6" style="padding:1em 1em 1em 1em;">
          <label style="font-size:1.5em;">ข้อมูลที่ทำงาน</label>
        </div>

        <div class="grid-y">
          <div class="cell small-6" style="padding:0em 1em 1em 1em;">
            <div class="grid-x grid-margin-x">
              <!-- คอลัม 1 -->
              <div class="cell small-6 floated-label-wrapper">
                <label for="fristDayJoin">วันที่เข้าทำงาน</label>
                <input required type="text" autocomplete="off" name="fristDayJoin" data-toggle="datepicker" placeholder="วันที่เข้าทำงาน" style="margin:0px!important;border-radius:5px;">
              </div>
              <!-- คอลัม 2 -->
              <div class="cell small-6 floated-label-wrapper">
                <label>วันที่ออก</label>
                <input required autocomplete="off" type="text" name="dayLeft" data-toggle="datepicker" placeholder="วันที่ออก" style="margin:0px!important;border-radius:5px;">
              </div>
            </div>
          </div>

          <div class="cell small-6" style="padding:0em 1em 1em 1em;">
            <div class="grid-x grid-margin-x">
              <!-- คอลัม 1 -->
              <div class="cell small-12 ">
                <label for="country" style="color:#8a8a8a;">ประเทศ</label>
                <select required name="country" id="ID_country" placeholder="ประเทศ" style="margin:0px!important;border-radius:5px;">
                  <option selected="selected" hidden>กรุณาเลือก</option>
                  <% for (var i = 0; i < data.length; i++){ %>
                  <option value="<%= data[i].countryISOCode %>">
                    <%=data[i].countryName %>
                  </option>
                  <% } %>
                </select>
              </div>


            </div>
          </div>

          <div class="cell small-6" style="padding:0em 1em 1em 1em;">
            <div class="grid-x grid-margin-x">
              <!-- คอลัม 1 -->
              <div class="cell small-12 ">
                <label for="university" style="color:#8a8a8a;">มหาวิทยาลัย</label>
                <select required name="university" id="ID_university">
                  <option disabled="disabled">-</option>
                </select>
              </div>
            </div>
          </div>

          <div class="cell small-6" style="padding:0em 1em 1em 1em;">
            <div class="grid-x grid-margin-x">
              <!-- คอลัม 1 -->
              <div class="cell small-12 ">
                <label for="faculty" style="color:#8a8a8a;">คณะ</label>
                <select name="faculty" id="ID_faculty">
                  <option disabled="disabled" selected="selected">-</option>
                </select>
              </div>
            </div>
          </div>

          <div class="cell small-6" style="padding:0em 1em 1em 1em;">
            <div class="grid-x grid-margin-x">
              <!-- คอลัม 1 -->
              <div class="cell small-12 ">
                <label for="department" style="color:#8a8a8a;">หน่วยงานหลัก</label>
                <select name="department" id="ID_department">
                  <option disabled="disabled" selected="selected">-</option>
                </select>
              </div>
            </div>
          </div>

          <div class="cell small-6" style="padding:0em 1em 1em 1em;">
            <div class="grid-x grid-margin-x">
              <!-- คอลัม 1 -->
              <div class="cell small-12 ">
                <label for="department" style="color:#8a8a8a;">หน่วยงานย่อย</label>
                <select name="subdepartment" id="ID_subdepartment">
                  <option disabled="disabled" selected="selected">-</option>
                </select>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- ROW กลุ่มข้อมูล -->
      <div class="cell small-6" style="background-color:#FFF;border-radius:10px;border:1px solid #E6E6E6;">

        <div class="cell small-6" style="padding:1em 1em 1em 1em;">
          <label style="font-size:1.5em;">สร้างรหัสผ่าน</label>
        </div>

        <div class="grid-y">

          <div class="cell small-6" style="padding:0em 1em 1em 1em;">
            <div class="grid-x grid-margin-x">
              <!-- คอลัม 1 -->
              <div class="cell small-6 floated-label-wrapper">
                <label for="fristDayJoin">รหัสผ่าน</label>
                <input required type="text" name="password" id="inputPassword_ID" placeholder="รหัสผ่าน" style="margin:0px!important;border-radius:5px;">
              </div>
              <!-- คอลัม 2 -->
              <div class="cell small-6 floated-label-wrapper">
                <label for="onfirminputPassword">ยืนยันรหัสผ่าน</label>
                <input required type="text" name="onfirminputPassword" id="confirminputPassword_ID" placeholder="ยืนยันรหัสผ่าน" style="margin:0px!important;border-radius:5px;">
                <span class="label alert hide" id="id_US_Add_Div_alertEmptryPS"><i class="fi-x-circle"></i>กรุณาใส่รหัสผ่าน</span>
                <span class="label alert hide" id="id_US_Add_Div_wrongPS"><i class="fi-x-circle"></i>รหัสผ่านไม่ตรงกัน</span>
              </div>

            </div>
          </div>

        </div>
      </div>

    </div>

  </div>

  <div class=" small-2" data-sticky-container style="border-radius:5px;padding-left: 1em;">
    <div class=" grid-y" data-sticky data-margin-top="22">

      <div class=" small-6" style="padding-bottom: 1em;">
        <input type="submit" value="ยืนยัน" class="button primary expanded" id="comfirmUserData" style="border-radius:5px;padding:1em;">
      </div>

      <div class=" small-6">
        <a type="button" href="/alluser" class="button hollow  alert expanded" style="border-radius:5px;padding:1em;">ยกเลิก</a>
      </div>
    </div>
  </div>
</div>
