<div class="cell small-6"  id="pageNewGrants" style="padding:2rem  4em 2em 10em;display:none;background-color:#FAFAFA;height:78vh">
  <form  enctype="multipart/form-data" method="post" action="/grants">
    <div class="grid-x grid-margin-x">
      <div class="cell small-2">
      </div>
      <div class="cell small-6">

        <div class="grid-y grid-margin-y">

          <!-- ROW กลุ่มข้อมูล -->
          <div class="cell small-6" style="background-color:#FFF;border-radius:10px;border:1px solid #E6E6E6;">

            <div class="cell small-6" style="padding:1em 1em 1em 1em;">
              <label style="font-size:1.5em;">เพิ่มทุนวิจัยใหม่</label>
            </div>

            <div class="grid-y">
              <div class="cell small-6" style="padding:0em 1em 1em 1em;">
                <div class="grid-x grid-margin-x">
                  <!-- คอลัม 1 -->
                  <div class="cell medium-12 floated-label-wrapper">
                    <label for="id_grants_Name">ชื่อทุนวิจัย</label>
                    <input name="grants_Name" id="id_grants_Name"style="margin:0px!important" type="text" placeholder="ชื่อทุนวิจัย" required/>
                  </div>
                </div>
              </div>

              <div class="cell small-6" style="padding:1em 1em 1em 1em;">
                <div class="grid-x grid-margin-x">
                  <!-- คอลัม 1 -->
                  <div class="cell medium-12 floated-label-wrapper">
                    <label for="id_grants_Supporter">แหล่งเงินทุน</label>
                    <input name="grants_Supporter" id="id_grants_Supporter"style="margin:0px!important" type="text"  placeholder="แหล่งเงินทุน" required/>
                  </div>
                </div>
              </div>

              <div class="cell small-6" style="padding:1em 1em 1em 1em;">
                <div class="grid-x grid-margin-x">
                  <!-- คอลัม 1 -->
                  <div class="cell small-6 floated-label-wrapper">
                    <label for="id_grants_Type">ประเภททุนวิจัย</label>
                    <select name="grants_Type" id="id_grants_Type"style="margin:0px!important" required>
                      <option value="ทุนภายนอก">ทุนภายนอก</option>
                      <option value="ทุนภายใน">ทุนภายใน</option>
                    </select>
                  </div>
                  <!-- คอลัม 2 -->
                  <div class="cell small-6 floated-label-wrapper">
                    <label for="id_grants_Years">ปีงบประมาณ</label>
                    <input type="text" name="grants_Years" id="id_grants_Years"style="margin:0px!important;border-radius:5px;" placeholder="ปีงบประมาณ" required />
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class=" small-2" data-sticky-container style="border-radius:5px;padding-left: 1em;">
        <div class=" grid-y" data-sticky data-margin-top="15">

          <div class=" small-6" style="padding-bottom: 1em;">
              <input class="button primary" type="submit" value="ยืนยัน" />
          </div>

          <div class=" small-6">
            <input class="button alert" onclick="myFunctiongrants2()" type="reset" value="ยกเลิก" />
          </div>
        </div>
      </div>
    </div>

  </form>
</div>
