<div style="padding:2.5rem;display:none;" id="pageNewGrants">
  <form method="post" action="/grants">
    <div class="cell small-6" style="padding:4rem;">

      <div class="grid-y ">

        <div class="grid-x ">

          <div class="cell small-12" style="padding:0.25rem;">
            <div class="grid-x ">

              <div class="cell small-6">
                <div class="grid-x grid-padding-x grid-padding-y">
                  <div class="cell small-3">
                    <label for="" class="text-left middle" style="margin:0px!important">ปีทุนวิจัย</label>
                  </div>
                  <div class="cell small-2">
                    <select name="grants_Years" style="margin:0px!important">
                      <option value="2008">2008</option>
                      <option value="2009">2009</option>
                      <option value="2010">2010</option>
                      <option value="2011">2011</option>
                      <option value="2012">2012</option>
                      <option value="2013">2013</option>
                      <option value="2014">2014</option>
                      <option value="2015">2015</option>
                      <option value="2016">2016</option>
                      <option value="2017">2017</option>
                      <option value="2018">2018</option>
                      <option value="2019">2019</option>
                      <option value="2020">2020</option>
                      <option value="2021">2021</option>
                      <option value="2022">2022</option>
                      <option value="2023">2023</option>
                      <option value="2024">2024</option>
                      <option value="2025">2025</option>
                      <option value="2026">2026</option>
                      <option value="2027">2027</option>
                      <option value="2028">2028</option>
                      <option value="2029">2029</option>
                      <option value="2030">2030</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="cell small-6">
                <div class="grid-x grid-padding-x grid-padding-y">
                  <div class="cell small-3">
                    <label for="" class="text-left middle" style="margin:0px!important">ประเภททุนวิจัย</label>
                  </div>
                  <div class="cell small-4">
                    <select name="grants_Type" style="margin:0px!important">
                      <option value="ทุนภายนอก">ทุนภายนอก</option>
                      <option value="ทุนภายใน">ทุนภายใน</option>
                    </select>
                  </div>
                </div>

              </div>

            </div>
          </div>

        </div>

        <div class="grid-x ">

          <div class="cell small-6" style="padding:0.25rem;">
            <div class="grid-x ">

              <div class="cell small-12">
                <div class="grid-x grid-padding-x grid-padding-y">
                  <div class="cell small-3">
                    <label class="text-left middle" style="margin:0px!important">ชื่อทุนวิจัย</label>
                  </div>
                  <div class="cell small-9">
                    <input name="grants_Name" style="margin:0px!important" type="text" />
                  </div>
                </div>
              </div>


            </div>
          </div>

          <div class="cell small-6" style="padding:0.25rem;">
            <div class="grid-x ">


            </div>
          </div>

        </div>

        <div class="grid-x ">

          <div class="cell small-6" style="bpadding:0.25rem;">
            <div class="grid-x ">

              <div class="cell small-12">
                <div class="grid-x grid-padding-x grid-padding-y">
                  <div class="cell small-3">
                    <label class="text-left middle" style="margin:0px!important">แหล่งทุนวิจัย</label>
                  </div>
                  <div class="cell small-9">
                    <input name="grants_Supporter" style="margin:0px!important" type="text" />
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="cell small-6" style="padding:0.25rem;">
            <div class="grid-x ">

            </div>
          </div>

        </div>

        <div class="grid-x " style="padding:1em;">
        </div>

        <div class="grid-x ">

          <div class="cell small-6" style=";padding:0.25rem;">
            <div class="grid-x ">

              <div class="cell small-12">
                <div class="grid-x grid-padding-x grid-padding-y">
                  <div class="cell small-3">
                    <label class="text-left middle" style="margin:0px!important">รายละเอียดทุนวิจัย</label>
                  </div>
                  <div class="cell small-9">
                    <textarea name="grants_detail" placeholder="รายละเอียดทุนวิจัย" class="minh1" style="min-width: 100%"></textarea>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="cell small-6" style="padding:0.25rem;">
            <div class="grid-x ">
            </div>
          </div>
        </div>

        <div class="grid-x " style="padding:2em;">


        </div>

        <div class="grid-x ">

          <div class="cell small-12" style="padding:0.25rem;">
            <div class="grid-x ">

              <div class="cell small-6" style="vertical-align: middle;text-align: right;padding-right:0.25rem;">
                <input class="button primary" type="submit" value="ยืนยัน" />
              </div>
              <div class="cell small-6" style="vertical-align: middle;text-align: left;padding-left:0.25rem;">
                <input class="button alert" onclick="myFunctiongrants2()" type="reset" value="ยกเลิก" />
              </div>

            </div>
          </div>

        </div>

      </div>

    </div>
  </form>

</div>
