<div class="cell small-12" style="padding:2.5rem;display:none;" id="addDataElm">
  <h3 class="">เพิ่มหน่วยงานใหม่</h3>
  <form class="myform" ref='uploadForm' name="dpmentFormName" encType="multipart/form-data" action="/Department" method="post">
    <div class="grid-y shink" style="margin-left:25rem;">

      <div class="grid-x grid-padding-x">
        <div class="small-2 cell field"> 
          <label for="middle-label" class="text-left middle"><b>ประเทศ</b></label>
        </div>
        <div class="small-5 cell field">
          <label>
            <select name="Country" id="getCountry" style="margin:0px!important"></select>
          </label>
        </div>
      </div>

      <div class="grid-x grid-padding-x">
        <div class="small-2 cell field">
          <label for="middle-label" class="text-left middle"><b>มหาวิทยาลัย</b></label>
        </div>
        <div class="small-5 cell field">
          <label>
            <select name="getUniName" id="getUni" style="margin:0px!important"></select>
          </label>
          <!-- <input type="text" placeholder="ค้นหา มหาวิทยาลัย" value="" name="getUniName" id="getUni" class="getUniC" style="margin:0px!important"> </input>
          <input type="hidden"value="" id="txtUniID" style="margin:0px!important"> </input> -->
        </div>
        <div class="small-3 cell field">
          <a class="button primary expanded hide" id="addBtnUnityID">เพิ่มมหาวิทยาลัยใหม่</a>
        </div>
      </div>

      <div class="grid-x grid-padding-x">
        <div class="small-2 cell field">
          <label for="middle-label" class="text-left middle"><b>คณะ</b></label>
        </div>
        <div class="small-5 cell field">
          <label>
            <select name="getFacultyname" id="getFaculty" style="margin:0px!important"></select>
          </label>
        </div>
        <div class="small-3 cell field">
          <a class="button primary expanded hide" id="addBtnFacultyID">เพิ่มคณะใหม่</a>
        </div>
      </div>
      <div class="grid-x grid-padding-x">
        <div class="small-2 cell field">
          <label for="middle-label" class="text-left middle"><b>หน่วยงานหลัก</b></label>
        </div>
        <div class="small-5 cell field">
          <label>
            <select id="selectDpmantID" name="dpmentName"></select>
          </label>
        </div>
        <div class="small-3 cell field">
          <a class="button primary expanded hide" id="addBtnDpmentID">เพิ่มหน่วยงานหลักใหม่</a>
        </div>
      </div>
      <div class="grid-x grid-padding-x">
        <div class="small-2 cell field">
          <label for="middle-label" class="text-left middle"><b>หน่วยงานย่อย</b></label>
        </div>
        <div class="small-5 cell field">
          <label>
            <a class="button primary expanded hide" id="addBtnSubDpmentID">เพิ่มหน่วยงานย่อยใหม่</a>
          </label>
        </div>
        <div class="small-3 cell field">

        </div>
      </div>


    </div>
    <!-- <input type="submit" value="เพิ่ม" class="button sendButton" disabled="disabled"> -->
    <input type="reset" value="ยกเลิก" onclick="resetbtn()"class="button alert" id="resetAddDpment">
  </form>

</div>
