<div class="cell small-12" style="padding:2.5rem;display:none;" id="editDataElm">
  <h3 class="">แก้ไขชื่อ/ลบ หน่วยงาน</h3>
  <form class="myform" name="formEditDpment"ref='uploadForm' encType="multipart/form-data" >
    <div class="grid-y shink" style="margin-left:25rem;">

      <div class="grid-x grid-padding-x">
        <div class="small-2 cell field">
          <label for="middle-label" class="text-left middle"><b>ประเทศ</b></label>
        </div>
        <div class="small-5 cell field">
          <label>
            <select name="Country_edit" id="getCountry_edit" style="margin:0px!important"></select>
          </label>
        </div>
      </div>

      <div class="grid-x grid-padding-x">
        <div class="small-2 cell field">
          <label for="middle-label" class="text-left middle"><b>มหาวิทยาลัย</b></label>
        </div>
        <div class="small-5 cell field">
          <label>
            <select name="getUniName_edit" id="getUni_edit" style="margin:0px!important"></select>
          </label>
        </div>
        <div class="small-5 cell field">
          <a class="button warning hide" id="editBtnUnityID_edit" data-open="editUniNameShowup" onclick="fnEditUniNameShowup()">แก้ไขชื่อ</a>
          <a class="button alert hide" id="delBtnUnityID_edit"data-open="delUniNameShowup" onclick="fnDelUni()">ลบ</a>
        </div>
      </div>

      <div class="grid-x grid-padding-x">
        <div class="small-2 cell field">
          <label for="middle-label" class="text-left middle"><b>คณะ</b></label>
        </div>
        <div class="small-5 cell field">
          <label>
            <select name="getFacultyname_edit" id="getFaculty_edit" style="margin:0px!important"></select>
          </label>
        </div>
        <div class="small-3 cell field">
          <a class="button warning hide" id="editBtnFacultyID_edit" data-open="editFacultyNameShowup" onclick="fnEditFacultyNameShowup()">แก้ไขชื่อ</a>
          <a class="button alert hide" id="delBtnFacultyID_edit"data-open="delFacultyNameShowup" onclick="fnDelFaculty()">ลบ</a>
        </div>
      </div>
      <div class="grid-x grid-padding-x">
        <div class="small-2 cell field">
          <label for="middle-label" class="text-left middle"><b>หน่วยงานหลัก</b></label>
        </div>
        <div class="small-5 cell field">
          <label>
            <select id="selectDpmantID_edit" name="dpmentName_edit"></select>
          </label>
        </div>
        <div class="small-3 cell field">
          <a class="button warning hide" id="editBtnDpmentID_edit"data-open="editDpmentNameShowup" onclick="fnEditDpmentNameShowup()">แก้ไขชื่อ</a>
          <a class="button alert hide" id="delBtnDpmentID_edit"data-open="delDpmentNameShowup" onclick="fnDelDpment()">ลบ</a>
        </div>
      </div>
      <div class="grid-x grid-padding-x">
        <div class="small-2 cell field">
          <label for="middle-label" class="text-left middle"><b>หน่วยงานย่อย</b></label>
        </div>
        <div class="small-5 cell field">
          <label>
            <select id="selectSubDpmantID_edit" name="subDpmentName_edit"></select>
          </label>
        </div>
        <div class="small-3 cell field">
          <a class="button warning hide" id="editBtnSubDpmentID_edit"data-open="editSubDpmentNameShowup" onclick="fnEditSubDpmentNameShowup()">แก้ไขชื่อ</a>
          <a class="button alert hide" id="delBtnSubDpmentID_edit"data-open="delSubDpmentNameShowup" onclick="fnDelSubDpment()">ลบ</a>
        </div>
      </div>


    </div>
    <input type="reset" value="ยกเลิก" onclick="resetbtn()" class="button alert" id="resetEditDpment">
  </form>

</div>
