<div class="cell small-12 " style="padding:2.5rem;display:none;" id="555">
  <h3>แก้ไขชื่อหน่วยงาน</h3>
  <form id="myform" ref='uploadForm' encType="multipart/form-data" class="form-fields" action="/Department/update" method="post">
    <div class="grid-x grid-padding-x">
      <div class="small-3 cell">
        <label for="middle-label" class="text-right middle"><b>ชื่อเดิม</b></label>
        <label for="middle-label" class="text-right middle"><b>หน่วยงานหลัก</b></label>
        <label for="middle-label" class="text-right middle"><b>ชื่อใหม่</b></label>
      </div>
      <div class="small-9 cell">
        <label for="middle-label" class="text-left middle" id="12"></label>
        <label for="middle-label" class="text-left middle" id="14" ></label>
        <input name="Sub_Dpment_Parent" type="hidden" id="15" value="">
        <input name="file_Nameold" type="hidden" id="13" value="">
        <input type="text" id="message2" name="file_NameUpdate" placeholder="ชื่อหน่วยงานใหม่">
      </div>
    </div>
    <input type="submit" value="ยืนยัน" class="sendButton2 button" disabled="disabled">
    <input type="reset" onclick="myFunction2()" value="ยกเลิก" class="button alert">
  </form>
</div>
